[2015-12-01 10:53] georgecrawford opened #1 "Call for collaborators!"
Hi @just-boris, @dhoulker, @pazone.

I've only just discovered Allure, and have seen the thread you've started here: https://github.com/webdriverio/webdriverio/issues/532. I had a play with creating a basic reporter for v4.0 of Webdriverio, and it works great.

I'd very much like your involvement in this project, to make an officially-supported reporter. As far as I can see, there's no need to cou

[2015-12-01 10:54] georgecrawford commented on #1
cc @klamping

[2015-12-01 10:58] just-boris commented on #1
I pushed my initial work here: https://github.com/just-boris/wdio-allure-reporter

It can be moved when I will have got a working prototype. Since you are interested, I can take more time to work on it.

[2015-12-01 11:00] georgecrawford commented on #1
Awesome. If you're happy, I'd like to merge any features of yours into mine, as the BaseReporter has now become a little more useful.

[2015-12-01 13:25] pazone commented on #1
We are going to do it as soon as possible, thanks.

[2015-12-02 16:11] klamping commented on #1
I'll be trying this out this week to see how it works for the set up at my work. Hope to help out with this however I can.

[2015-12-03 13:07] georgecrawford commented on #1
I'll add some questions as they occur to me.

1. How are labels exposed in the Allure report? I can see them correctly added to my XML:
[code]
...but don't see them in the report anywhere. Is this not yet implemented?

[2015-12-03 13:41] just-boris commented on #1
Labels are not designed for any custom values. It is a kind of container to store some internal Allure data.

Also, we have a public container named `<parameters></parameters>` but it has not implemented in JS-plugins. Once you have the following in your XML

[code]

You will see the following in the report:

![image](https://cloud.githubusercontent.com/assets/812240/11562023/4683a326-99dc-11e5-8c

[2015-12-03 13:42] just-boris commented on #1
I created an issue for allure https://github.com/allure-framework/allure-js-commons/issues/8
I am going to implement this soon.

[2015-12-03 13:42] georgecrawford commented on #1
Thanks - that sounds perfect.

[2015-12-10 16:42] just-boris commented on #1
Ok, I did something that can work: https://github.com/just-boris/wdio-allure-reporter

Test code is [here](https://github.com/just-boris/wdio-allure-reporter/blob/master/test%2Fe2e%2Freporter.spec.js)

And then I got the following report

![image](https://cloud.githubusercontent.com/assets/812240/11721580/8839e6a6-9f75-11e5-892d-84bb629bb55a.png)

[2015-12-10 16:47] just-boris commented on #1
Then I am going to implement steps, attachment features.

Also, you can see an issue here: I can't see a difference between failed assertions and unknown exceptions, so both of them are broken tests.

[2015-12-10 16:48] georgecrawford commented on #1
I've got this far with my copy:
<img width="772" alt="screenshot 2015-12-10 16 47 17" src="https://cloud.githubusercontent.com/assets/84737/11721839/b560efc0-9f5d-11e5-9b92-19665c2e09fd.png">

It's using this repo, but the dependencies on webdriverio, wdio-mocha-framework and wdio-sync are quite complex. I'm currently using the following:
[code]
Want to try it out? We should be collaborating on th

[2015-12-10 16:56] just-boris commented on #1
@georgecrawford yes, we definitely should!

[2016-01-05 08:05] christian-bromann commented on #1
@just-boris, @dhoulker, @pazone added you guys as collaborator to this repo

[2016-01-06 12:52] georgecrawford commented on #1
My allure reporter is working great, but I have some work to do to get the required code into webdriverio v4.0. When that's done, I'd love some collaborator feedback from you guys.

[2016-01-07 19:59] just-boris commented on #1
Well, we all team are on vacation now. I can take a look on it at the next week.

[2016-01-15 12:14] alexcason opened #2 "Getting started"
I'm attempting to integrate this reporter into a test project based upon webdriverio/cucumber-boilerplate.

So far I've included this repository as a module in the project, built the `build/reporter.js` file and added the `main` attribute to `package.json` pointing to it. I've then referenced the module in the config file of my test project and set it as the reporter.

    var AllureReporter = req

[2016-01-20 10:37] #2 closed

[2016-01-20 10:43] just-boris commented on #2
Hello! Why did you close this?

I just have started working on guide yesterday. I am going to create a repo with demo project and write few words about it.

[2016-01-20 11:30] alexcason commented on #2
Hi @just-boris,

I closed the issue as I resolved the specific problem I was having integrating a custom reporter with the cucumber-boilerplate project.

A getting started guide would still be very useful. I can edit the initial issue to remove the reference to the specific issue which I solved if you want to tag the guide against this issue?

[2016-01-20 12:33] just-boris commented on #2
Okay. I will create the new one, when I will have something to show.

[2016-02-12 15:55] mDomingues opened #5 "Reports are not generated"
Hi all,

Can't get this to work with my wdio+mocha project. I´ve added the confs to the wdio configuration file but
**allure-results** dir is empty.

[code]
I saw in one closed issue that with mocha, is necessary to specify the reporter to the one we want. Stil.. Same results, **dot** reporter is used by default.
Dependencies:

[code]

What do you think is going on ?

Thanks :)

[2016-02-22 20:10] dcypherthis commented on #5
Also having the same issue.  Wdio v4.0.3, wdio-allure-reporter v0.0.2

[2016-02-22 22:05] just-boris commented on #5
Hello! I investigated the issue and come up with the following:

@mDomingues Wevdriver.io prior to 4.0 version can't work with external reporters. It works only with built-in ones, like `dot` but not `allure`. If you want to use Webdriver.io with Allure, consider upgrading to 4.0. I have setup example here, maybe it helps: https://github.com/just-boris/wdio-demo

[2016-02-22 22:06] just-boris commented on #5
@dcypherthis can't reproduce it, because of that issue: https://github.com/webdriverio/webdriverio/issues/1116

Could you please share some project setup?

[2016-02-28 20:07] michaelDomingues commented on #5
@just-boris , you're right. I updated `wdio` to most recent version and all is working ok.
Thanks!

[2016-02-28 20:10] michaelDomingues opened #6 "Broken tests cancel further test cases"
Hi,

When Allure tags a test as broken, those which follow are not accepted as suitable for the reports.
I think this shouldn't be this way for a broken test, only failure situations.

[2016-02-29 09:22] just-boris commented on #6
You meant that if some test is broken, you want not to go on running this suite?

I think that it shouldn't  be a default behavior, but you can set up your tests in that way if you want.

[2016-02-29 09:46] michaelDomingues commented on #6
No I mean, if you have

[code]

and <testB> is considered **broken**, remaining test suite should be executed and reported!
In this case, allure would report until <testB>

[2016-02-29 09:52] just-boris commented on #6
Well, then it looks like a bug. In my simple case, it works well.

[code]

I got all 3 tests in the report. How do your tests look like?

[2016-02-29 09:57] michaelDomingues commented on #6
weird... I can't get that results.

My suite is pretty much the same as yours but 1st test and 3rd test are basically elements discovery and interaction.
Test 2 is a HTTP lib usage to capture all requests from a click in an element. That lib is [webdriverajax](https://www.npmjs.com/package/webdriverajax).

Most of the times, I got my requests and answers but allure considers the test as broken.

[2016-04-04 17:31] mDomingues opened #7 "TypeError: must start with buffer, array, number or string"
Guys, I've spoken with you in gitter about this bug I'm dealing with.
My test suites run with some faults to the end as expected but the Allure crashes with a message like:

![image](https://cloud.githubusercontent.com/assets/11029958/14256798/92a871b6-fa92-11e5-95bb-0d47de7de44a.png)

This happens when I use this lib.
[webdriverajax](https://www.npmjs.com/package/webdriverajax)

My code that caus

[2016-04-04 17:35] christian-bromann commented on #5
@mDomingues seems that you got the allure reporter running. Closing.

[2016-04-04 17:35] #5 closed

[2016-04-04 17:36] christian-bromann commented on #6
@michaelDomingues what's the state of this issue? Is this still happening for you?

[2016-04-04 18:57] michaelDomingues commented on #6
Yeah, still happening.. Tests are executed but not triggered in allure.

A seg, 4/04/2016, 18:36, Christian Bromann <notifications@github.com>
escreveu:

[2016-04-04 18:58] christian-bromann commented on #6
@michaelDomingues

[2016-04-04 20:03] just-boris commented on #7
@sullenor You have got something like this, maybe you have something to add.

[2016-04-05 07:33] sullenor commented on #7
@just-boris Yeah, I had the same issue with `webdriver` and `wdio-allure-reporter`. Recently, I started to get this exception more often.

I'd try to make a small example to reproduce this issue, may be it will be easier to fix it.

[2016-04-05 14:08] sullenor commented on #7
Looks like I get this error in case allure can't find the file with screenshot. Despite that screenshot was successfully generated. Presumably, it can't resolve path to file.

[2016-04-05 14:54] sullenor commented on #7
I tried to log filename here: https://github.com/webdriverio/webdriverio/blob/master/lib/runner.js#L91 and looks like it generates different paths: absolute in one case and only filename in another.

[code]

[code]

[2016-04-05 16:22] sullenor commented on #7
Presumably, the problem lies somewhere here: https://github.com/webdriverio/webdriverio/blob/master/lib/webdriverio.js#L218

Reporter should fetch the content of file before attaching it: https://github.com/webdriverio/wdio-allure-reporter/blob/master/lib/reporter.js#L162

[2016-04-14 11:19] weblogixx opened #11 "Feature-Request: Automatically set stories for mocha describe"
Hi,

first of all, let me thank you for this great software. Makes reporting of tests much easier to work with.
I have a feature request for the reporter, but do not know if this is the right place.

When you use tests via wdio testrunner with Mocha as a framework, you will have tests that roughly look like this:

[code]

Currently, the allure report packs every describe block as a suite, meaning

[2016-04-14 11:48] just-boris commented on #11
Hello. This is a reasonable feature request. But I think it cannot be implemented in that way because not everybody has that structure for tests.

Also, Mocha has a [tagging feature](https://github.com/mochajs/mocha/wiki/Tagging), and I consider using this thing for create user stories structure.

[2016-04-14 12:11] weblogixx commented on #11
Seems like a nice addition! It would be much easier if wdio-mocha-framework would expose the current allure instance. However I was not able get it to work correctly. In standalone examples it works like a charm, but when running via wdio, everything is different.

[2016-05-05 08:59] eben0 commented on #7
I also face this issue a lot. When an element does not exist the payload becomes empty:

[code]

if event.payload.data is empty, a quick dirty fix is to check and assign an empty string:

[code]

[2016-05-11 07:26] christian-bromann commented on #1
I think we can close this now.
@just-boris feel free to reopen if you want though.

[2016-05-11 07:26] #1 closed

[2016-05-15 10:07] gronke commented on #11
Allure displays the results in two dimensions. The first is the suite, the second is a case within that suite.

Without usage of feature/story labels in my use-cases it made the most sense to use first level describe blocks as Allure suite and all nested suites and tests within that as Allure cases. @weblogixx in [your example](https://github.com/webdriverio/wdio-allure-reporter/issues/11#issue-14

[2016-05-17 05:14] weblogixx commented on #11
Hi @gronke,

I think I will leave it the way I currently use it until the new features arrive in a new version of the reporter.
Thank you for the constant work (and giving feedback!).

[2016-05-20 18:21] nzhenry commented on #11
The fact that not everybody has that structure does not necessarily mean it cannot be implemented that way.

[2016-05-20 18:26] nzhenry commented on #11
I am using webdriver.io and jasmine to run my end-to-end tests and it would be nice if the "Behaviours" section of the allure report reflected the hierarchical nature of my tests. Is this possible?

Currently the "Behaviours" section has all my tests in a group named "Without story" inside a group named "Without feature". How can I get this to work properly?

[2016-05-20 21:49] gronke commented on #11
We need to map between the actual test structure and the Allure reporter output anyway. I doubt we find the solution that works for everybody, so what about making the mapper function an optional, configurable option? For me [the mapping mentioned above](https://github.com/webdriverio/wdio-allure-reporter/issues/11#issuecomment-219276625) works pretty well, but I can imagine other cases where it w

[2016-05-23 08:03] just-boris commented on #11
Hello! Now the thing is Allure by design has Suite->Case and Feature->Story structure because we didn't have other kinds of tests.

We understand that it does not work well with some test frameworks, especially with JavaScript tools, which usually supports deeply nested `describe` blocks. I think the best solution will be support tree structure of tests in Allure-core. I asked core team about that

[2016-05-23 08:36] gronke commented on #11
@just-boris support for nested describe blocks in Allure would be really awesome. Even if I'm using nested describe blocks, I like the flat structure of the test results. Having Allure keep track of nested suites and concatenating their titles is very welcome.

[2016-05-25 02:11] nzhenry opened #13 ""before each", "after each", "after all" hooks reported as broken when using Mocha framework"
When using the Mocha framework with webdriver.io and wdio-allure-reporter, the xml output (eg "./allure-results/ce079369-cea8-4359-87c2-a054b576523b-testsuite.xml") always contains 3 failures: "before each hook", "after each hook" and "after all hook".

Download [example.zip](https://github.com/webdriverio/wdio-allure-reporter/files/280863/example.zip) to reproduce.

[2016-05-25 03:09] christian-bromann commented on #13
@nzhenry we are currently rewriting the reporter and it will be fixed with that

__cc__ @gronke

[2016-05-25 03:09] #13 closed

[2016-05-25 18:43] anarwal opened #14 "Before, after hook shown as broken in Allure report"
When a test is run, even though there are not failures or broken tests, but before and after hooks are shown as broken in test report.

[2016-05-25 18:44] anarwal commented on #14
![failedtest](https://cloud.githubusercontent.com/assets/15256209/15552156/0ea5aa42-226e-11e6-807f-da5f71c72d1a.PNG)

[2016-05-25 18:45] christian-bromann commented on #14
@gronke is this still the case in your branch?
@anarwal can you say which framework you are using?

[2016-05-25 18:46] anarwal commented on #14
I am using mocha

[2016-05-25 18:47] anarwal commented on #14
My package.json look like this
[code]

[2016-05-25 18:48] anarwal commented on #14
any of the versions I need to update?

[2016-05-25 20:20] gronke commented on #14
@christian-bromann no, in in #8 only failing hooks will show up (marked as broken)

[2016-05-25 20:39] christian-bromann commented on #14
Sweet, @anarwal please wait until we merged and released that PR change.

[2016-05-25 20:39] #14 closed

[2016-05-26 12:53] aroramayank2002 commented on #5
Not sure if I should log another but I can't access allure objects from within test case. allure reporting is working for me though. I have wdio version 4.0.3.

[2016-06-03 09:09] mandalm opened #15 "All hooks shows as broken"
I am using this reporter.

On console i can see no error. But when i generate report and display those i am seeing lots of broken error / warning / info.

I am using mocha as test framework. I am using dynamic testcase adding using before hook. I don't know how to fix this issue. Please help me to understand this error and solve this.

```Console Output after Test```
<img width="515" alt="screen s

[2016-06-03 09:33] just-boris commented on #15
Hello. This is duplicate of https://github.com/webdriverio/wdio-allure-reporter/issues/13

Work on fixing that is going in #8

[2016-06-08 17:41] christian-bromann commented on #15
Closing. We are working on it to fix this.

[2016-06-08 17:41] #15 closed

[2016-06-08 20:56] deepajonnala commented on #15
Hi,

i upgraded to latest wdio version(4.0.9) and i am seeing this issue.Any help?

[2016-06-09 07:56] mandalm commented on #15
@christian-bromann can you keep it open until PR is merged. so that i can also close my ticket. thanks.

[2016-06-22 23:58] anarwal commented on #14
@gronke Did you push the changes yet for this defect to master?

[2016-06-23 01:36] christian-bromann commented on #14
No, there are still PR open

[2016-06-23 17:36] christian-bromann opened #18 "Can not run tests"
@gronke @just-boris I can't run the tests, getting:

[code]

[2016-06-23 18:50] gronke commented on #18
@christian-bromann executing the tests with this command should work.
[code]

[2016-06-23 18:51] #18 closed

[2016-06-23 18:52] gronke commented on #18
.. anyway. The tests are still all failing :-) But this time for a different reason. Will investigate and push a fix.

[2016-06-23 18:53] christian-bromann commented on #18
@gronke thanks

[2016-06-23 18:53] christian-bromann commented on #18
I can confirm they are still failing for me too

[2016-06-23 18:53] christian-bromann commented on #18
Can't we just use babel as mocha compiler and use all the nice ES2016 stuff for tests too?

[2016-06-23 20:48] just-boris commented on #18
Sorry, I have Node 6 on my local machine and it supports most of modern features. Yes, I also vote for enable Babel for tests. Then we can use `import` statement as well as it used in `lib` directory

[2016-06-24 06:41] christian-bromann opened #23 "integration tests failing"
@gronke @just-boris for some reason the tests started failing. I didn't do any major changes but improved the test setup and made some code refactorings. Can you guys check why 4 of these tests are failing?

See https://travis-ci.org/webdriverio/wdio-allure-reporter

[2016-06-24 06:45] christian-bromann commented on #7
@eben0 @mDomingues can you please retry with the recent published version?

[2016-06-24 06:45] christian-bromann commented on #6
@michaelDomingues should be fixed with the recent released version

[2016-06-24 06:45] #6 closed

[2016-06-24 07:47] just-boris commented on #23
Will look at it this evening. By the way, this is the case when `FULL_OUTPUT` option may help.

[2016-06-24 21:00] just-boris commented on #23
Something has changed in events flow. I guess you have updated dependencies, and mocha-frameworks now fires events differently than before.

For, example for testcase `should report failed before-all hook` now our before hook are not considered as failed, and test is still run however it should not. I tried to return rejected promise instead of throwing error, and then it works.

I think there is

[2016-06-26 20:55] just-boris commented on #23
I believe that this failure can be fixed when this will be merged: https://github.com/webdriverio/wdio-sync/pull/35

[2016-07-03 17:57] christian-bromann commented on #23
@just-boris I updated the framework adapter and bumped the deps in this project. Seems it has fixed almost all issues. Still [this](https://github.com/webdriverio/wdio-allure-reporter/blob/master/test/specs/test-case.js#L19-L32) test still seems to be broken due to last assertion.

[2016-07-04 15:20] mDomingues commented on #7
So far it seems fixed in version 1.4.23.
Good job!

On Jun 24, 2016 7:45 AM, "Christian Bromann" <notifications@github.com>
wrote:

[2016-07-04 18:32] christian-bromann commented on #7
Cool! Closing then

[2016-07-04 18:32] #7 closed

[2016-07-04 22:09] just-boris commented on #23
Surprisingly this test is passing for me.

However it shouldn't because the result XML is invalid. It contains unresolved step:

[code]

I logged all events that is fired by BaseReporter and found the following:

[code]

I think that the `suite:end` event should be fired only when all commands are done. Then everything will be fine here.

[2016-07-04 22:12] christian-bromann commented on #23
what do you mean by that?

[2016-07-04 22:13] just-boris commented on #23
That we should make test wait until screenshot command will be finished.

[2016-07-05 07:50] gronke commented on #23
To workaround this (and similar issues) I had to store the last executed test and suites (the "stack"). When `suite:end` is fired we don't know if there are any hooks running. The only point in time where we can be sure a test is finished with all hooks is when the next `suite:start` fires.

My first thought was to change the event order in BaseReporter, but it makes sense to run an after hook, **

[2016-07-05 08:13] just-boris commented on #23
First of all, I believe that incorrect events order is a bug, not feature. I am going to check out [the reject function](https://github.com/webdriverio/webdriverio/blob/master/lib/webdriverio.js#L172) logic. Its code looks like it should work as I expected, but it doesn't.

As another effect of this issue, you can see that request to delete session is being sent before the response with screenshot

[2016-07-06 08:34] christian-bromann opened #24 "Stop track command results if session has ended"
see webdriverio/webdriverio#1432

[2016-07-06 09:36] just-boris commented on #24
This is similar with the issue, that I am investigating there: https://github.com/webdriverio/wdio-allure-reporter/issues/23#issuecomment-230358883

I will add a test case for to check `waitForExist` behavior as well.

As quick fix I can suggest not to listen to `runner:command` events at all, but record only finished commands at `runner:result`. We will loose some steps, but at least it would wor

[2016-07-06 09:47] christian-bromann commented on #24
Sounds good to me

I don't think so but we have an event that gets triggered if a command has finished and contains an error if it failed

[2016-07-06 10:16] just-boris commented on #24
I found the only [`result` event](https://github.com/webdriverio/webdriverio/blob/master/lib/utils/RequestHandler.js#L155) so far, which is called only in case of success.

[2016-07-18 20:20] just-boris commented on #24
Finally I finished work on https://github.com/webdriverio/webdriverio/issues/1461 It seems to fix this issue and maybe some more. Now I am waiting for your feedback @christian-bromann

[2016-07-18 20:22] christian-bromann commented on #24
thanks @just-boris

[2016-07-25 14:52] #24 closed

[2016-08-21 09:28] evrycollin opened #25 "screenshot attachment"
it would be nice for the reporter to listen on 'runner:screenshot' event in order for testcase to be able to attach screenshot with a simple standard webdriverio command :

`browser.emit('screenshot', {filename: elmtImg, data: fs.readFileSync(elmtImg, {encoding: 'base64'}) } );`

Code to implement this fix :

`this.on('runner:screenshot', function (command) {
            var allure = _this.getAllu

[2016-08-21 18:29] just-boris commented on #25
Hello!

It would make sense unless we are already saving all screenshots with [the following code](https://github.com/webdriverio/wdio-allure-reporter/blob/master/lib/reporter.js#L95). If you have an issue, when screenshot is not saved, provide a code example, then I will try to help you.

[2016-09-07 07:37] IlgizVafin opened #26 "Wrong allure report [cucumber]"
Hi!

I use webdriverio + cucumber + allure-reporter. Thank you for awesome tool!
- `"wdio-allure-reporter": "0.0.2"`
- `"webdriverio": "^4.2.10"`

But, I notice that allure report is wrong. Here some details:
1. My example feature (example of real-life scenario)
- last step `I expect that title is "example title2"` is broken to test screenshot

![image](https://cloud.githubusercontent.com/assets/7

[2016-09-07 08:44] just-boris commented on #26
Hello, first of all, please try to upgrade `wdio-allure-reporter` to latest version `0.1.1`.
It contains so many conceptual changes, so your issue might been fixed.

[2016-09-08 05:29] IlgizVafin commented on #26
Thanks!

New version looks good! But I have `java.lang.NumberFormatException` exception when I try to generate allure-report:

`stdout: Command aborted due to exception {}.
 org.apache.commons.exec.ExecuteException: Process exited with an error: 1 (Exit value: 1)
 	at org.apache.commons.exec.DefaultExecutor.executeInternal(DefaultExecutor.java:404)
 	at org.apache.commons.exec.DefaultExecutor.exec

[2016-09-08 08:00] just-boris commented on #26
Well, I guess I know the reason of the issue, but could you please to post the content of `*-testuite.xml` file that you have in output directory?

[2016-09-09 05:18] IlgizVafin commented on #26
[allure-results.zip](https://github.com/webdriverio/wdio-allure-reporter/files/463222/allure-results.zip)

[2016-09-09 08:07] just-boris commented on #26
Thank you!

The exact issue in the following screenshot:
![image](https://cloud.githubusercontent.com/assets/812240/18379831/c945d714-7674-11e6-856e-e1bd3b97b052.png)

As you can see, all tests after `broken` doesn't have stop time and status. I will try to reproduce this in a small demo-project which uses cucumber specs, webdriverio and wdio-allure-reporter.
@IlgizVafin could you help me to creat

[2016-09-09 19:52] IlgizVafin commented on #26
OK! I'll try to create a small demo-project in few days.

[2016-09-12 08:19] IlgizVafin commented on #26
Boris, try to use this demo project: https://github.com/IlgizVafin/webdriverio-demo-project

I created 2 features: `Passed.feature` and `Broken.feature`. Broken scenario tries to click non-existent button and gets the error `An element could not be located on the page using the given search parameters.`

In `*-testsuite.xml` we can see the same picture
![image](https://cloud.githubusercontent.com/

[2016-09-12 10:48] dezdem0na commented on #26
@christian-bromann regarding my error, here is xml file https://gist.github.com/anonymous/0d42dde2196423caa5fd65e05f925eae

[2016-09-13 06:58] adamnock commented on #26
I can recreate this same issue using webdriverio ^4.2.12 + mocha ^0.4.2 + wdio-allure-reporter ^0.1.1

XML source of error:
<step start="1473749404950" stop="" status="">

correlates to the step:
browser.frame(browser.element("iframe[name='gsft_nav']").value);

Its the only step element produced which has no stop or status, subsequent elements are complete.

[2016-09-15 18:31] just-boris commented on #26
@I

[2016-09-16 05:45] IlgizVafin commented on #26
@just-boris, hello!

You are right! I have error in [my demo-project](https://github.com/IlgizVafin/webdriverio-demo-project) with cucumber specs:
![image](https://cloud.githubusercontent.com/assets/7014659/18576256/3e6425a8-7bf9-11e6-8d32-afb26a4c40b3.png)

some details:
- `test:start` handler is invoked for every step in `Broken.feature` (even steps after broken step) and writes to `*-testsuite.

[2016-09-16 07:03] just-boris commented on #26
Thank you! Actually, I have checked out your demo project, but couldn't reproduce the issue.

Your additional information is useful, I will try again with this.

[2016-09-16 07:23] IlgizVafin commented on #26
How can I help you?

[2016-09-16 13:40] just-boris commented on #26
I tried to reproduce this, but got a bit different result.

In my case, the `xml` for broken feature was not created at all.

As usually, I added a logging hook [here](https://github.com/webdriverio/webdriverio/blob/master/lib/utils/BaseReporter.js#L232) and got some details about events that were passed to reporter.

[code]

[code]
(The indentation here is mine, for readability).

As you can see,

[2016-09-16 18:32] IlgizVafin commented on #26
Try to use:
- `"cucumber": "^1.3.0"`
- `"wdio-cucumber-framework": "^0.2.5"`

Older versions of packages give strange behaviour.

[2016-09-16 22:05] just-boris commented on #26
Well, now this is better. The events dump is the following:

[code]

The issue here is that cucumber has a different behavior, rather than mocha framework, cucumber emits `test:start` event anyway.

I think we can fix this if we will change `test:pending` to `test:skipped` event. Allure has also `skipped` aka `cancelled` state for testcases which were started but not finished. Semathically it is m

[2016-09-17 06:10] IlgizVafin commented on #26
Good news!

We are waiting for a new release! :)
Can I help you?

[2016-09-21 06:29] danielsaf opened #29 "Bad values in xml [mocha]"
Hi, I need help. After change my Repository URL for bitbucket - allure report stopped work. I see this error on Jenkins log.

Can one help me whit this?

[code]

[2016-09-21 06:46] christian-bromann commented on #29
Duplicate of #26

[2016-09-21 06:50] christian-bromann commented on #26
@just-boris @IlgizVafin just released recent changes. Does this resolve the issue?

[2016-09-21 07:41] just-boris commented on #29
I'd like to clear some points before moving the conversation to #26. The resulting error is the same, but reasons of it can be different.

As I see, here is step stop attribute has empty value `<step stop="" />`, not testcase.

@danielsaf could you please specify, which test framework are you using and what `wdio-*` libraries you have in your project?

Also, I don't understand the step "change my

[2016-09-21 07:49] just-boris commented on #26
I guess it is not.

First of all, the fix in webdriverio/wdio-cucumber-framework#34 should be shipped.
Then I need to update `wdio-allure-reporter` to support the new event and also release it. Then the issue with cucumber will be closed.

[2016-09-21 16:43] danielsaf commented on #29
@just-boris
I'm using framework "wdio-mocha-framework": "^0.4.3".
My wdio.conf.js looks:

framework: 'mocha',
    //
    // Test reporter for stdout.
    // The only one supported by default is 'dot'
    // see also: http://webdriver.io/guide/testrunner/reporters.html
    reporters: ['dot','spec','allure','junit'],
    reporterOptions: {
        junit: {
            outputDir: './junitTestReport'

[2016-09-21 17:22] danielsaf commented on #29
@just-boris
"Also, I don't understand the step "change my Repository URL for bitbucket"? Do you mean that the same source code but run from bitbucket produces the error? How did it work before?" - Please don't care about this I think problem was when I change account from github to bitbucket. But now It's doesn't matter.  I don't know why it worked before with the same configuration and now I have

[2016-09-26 03:54] anarwal commented on #26
@just-boris it is not just cucumber, I have same issue reported in mocha framework also

[2016-09-26 08:38] just-boris commented on #26
@anarwal that's true.
So, if you have example, how to reproduce this issue using mocha framework, welcome to #29
That issue will be focused on fixing integration mocha.

[2016-09-28 17:12] anarwal commented on #26
@just-boris Sure I will put in a small project to show it.

[2016-09-30 10:14] gitsilky opened #30 "2 tags are getting added for the same test case in case of pending state."

[2016-09-30 10:19] just-boris commented on #30
Hello!
I need more information from you.
What test framework are you using? What do you mean as tags? I don't remember such concept in Allure

[2016-10-01 17:01] gitsilky commented on #30
I am using cucumber Framework.If the test case gets failed at any step then rest of the steps gets pending and the allure report shows double number of pending testcases.If I open the xmls that gets generated after the execution then I find <test-case> "user goes to the homepage" <test-case> tag twice with status pending.So pending testcases gets doubled in the allure report.

[2016-10-01 17:50] just-boris commented on #30
Well, that weird. The reason I guess the same as #26 has, but the effect is different. What `cucumber` and `wdio-cucumber-framework` do you have?

[2016-10-03 06:40] gitsilky commented on #30
I am using
wdio-cucumber-framework :- version: 0.2.5.
wdio-allure-reporter :- version: 0.1.2
cucumber :- version: 1.2.1.

[3aed57d8-8ba0-4a6d-a2dc-f186b9964685.txt](https://github.com/webdriverio/wdio-allure-reporter/files/505615/3aed57d8-8ba0-4a6d-a2dc-f186b9964685.txt)

[2016-10-11 17:16] Efefefef commented on #29
@just-boris Hi! Do you still need a demo project to figure out this bug ?

[2016-10-17 10:01] lj9142 opened #31 "Allure not generating report for Chrome"
Hello,
I am using testrunner with cucumber and allure and i am trying to set my tests up for firefox and chrome so far.

The report is generated fine when the results are for firefox but for chrome i get the attached error, can someone advise how to fix this?
![error](https://cloud.githubusercontent.com/assets/22213596/19433507/ed61e00a-9458-11e6-83b2-0c418c3d9e61.PNG)

[2016-10-17 10:05] just-boris commented on #31
If you are using Cucumber test framework, your issue is duplicate of #26
if you are using Mocha, it is duplicate of #29

[2016-10-18 10:48] lj9142 commented on #31
As this is only happening for Chrome, even when all the tests complete and the tests work fine for firefox, is this definitely the same issue? If so, do you know when this fix should be getting added?

[2016-10-18 11:07] just-boris commented on #31
@lj9142 so far, `wdio-allure-framework` doesn't do any browser-specific handling.

I guess that your issue occurs when some of your tests failed and finished incorrectly. To help you with fix I definitely need to know your test framework, since we have some framework specific logic in `wdio-*-adapter` family of package.

[2016-10-18 12:28] lj9142 commented on #31
As far as i can see, my tests are not failing, it is saying all the test steps have passed and i had cleared down any files from broken/failed tests.

My framework is using:
- services: selenium-standalone
- framework: cucumber
- reporters: dot, allure

What other information do you need?

[2016-10-18 13:00] lj9142 commented on #31
I have looked into it further and i think you are correct, it is the same issue as #26, i had a retry setup in my tests and my test was initially failing due to the website not loading quick enough in Chrome, when i amended the test to account for this, the test passed and report generated. So i will track this issue through the original one raised.

Thank you for your help, do you know when the f

[2016-10-31 09:21] lj9142 commented on #26
@just-boris do you know when the fix for this will be added? Thanks

[2016-10-31 09:43] just-boris commented on #26
Now we have stale pull-request https://github.com/webdriverio/wdio-cucumber-framework/pull/34
Once it will be merged and released, issue should be gone

[2016-11-01 05:31] tripleratamacue commented on #26
this is awesome guys, I just got the same error, was reading all comments, hope next release is the solution. Pura vida.

[2016-11-04 17:03] mygithub07 commented on #26
Got the same error `Exception in thread "main" java.lang.NumberFormatException: For input string: ""` today when running `allure generate allure-results` My setup is

`  wdio v4.0.5`
` "wdio-mocha-framework": "^0.2.9"`
`wdio-allure-reporter`
  `allure version` gives me 1.4.23
So as i understood from the discussion above, there is a pending fix for this issue and next release should fix it ? (for m

[2016-11-07 09:58] cloudfflies opened #32 "How to define Steps"
Hello,

How can I define steps [1] in javascipt and those steps should be on Allure reports?

[1] https://github.com/allure-framework/allure-core/wiki/Steps

[2016-11-07 10:51] just-boris commented on #32
Every webdriver.io command is a step.

If you want to define your high-order step, just create a command

[code]

This command will be recorded as well as any standard one.

[2016-11-07 12:47] christian-bromann commented on #32
thanks @just-boris

[2016-11-07 12:47] #32 closed

[2016-11-10 17:56] fijijavis commented on #29
I too am seeing this issue with <step stop="" />.  Looking at my Allure XML it appears to happen when a step has child steps.

[2016-11-14 10:35] DanielBrierton commented on #29
Just to add, as it may help track down the issue: I had this issue, but don't anymore since disabling wdio-sync and using Promises to write my tests.

[2016-11-15 16:43] devotee101 commented on #29
I'm also seeing this issue using cucumber, specifically when I have a test with multiple assertions and the first one fails and the second one passes.

I've put a repo together that demonstrates the issue, here - https://bitbucket.org/vividcloud/wdio-allure-reporter-bug

A NumberFormatException occurs when generating the report because of empty stop and status attributes on one of the test-case el

[2016-11-15 20:45] just-boris commented on #29
Update here!

I could reproduce the issue in test-cases that we have in our repository itself. See PR #33
The following code causes problem:

[code]

When we don't return promise from some handlers, they will be recorded in a wrong order. So, the easiest solution will be fixing test codebase to make sure, that all command results are handled. This is what we did in https://github.com/webdriverio/w

[2016-11-15 20:49] DanielBrierton commented on #29
@just-boris: Makes sense. I wonder could there be a bug somewhere in wdio-sync then, since I was seeing errors with that, but not with Promises?

[2016-11-25 15:14] ninnepinne opened #34 "[mocha] runtime skip (pending case) corrupts Allure report xml"
If you use this.skip() in a wdio mocha test the report XML will be corrupted.
As a result you can not create the Allure report (you will get infamous Java String error others have reported)

The XML will end up with double test entries of which the original correct test entry will have empty status and timestamp.

The reason for this is according to my investigation the way "allure-js-commons" int

[2016-11-25 15:26] just-boris commented on #34
Thank you for the detailed bug report! I will take a look.

[2016-11-25 16:19] ninnepinne commented on #34
Thanks!
A gotcha is that this.skip() in mocha does not play nice with arrow functions so use function() in the it().
I also think you need a very recent version of mocha.

[2016-12-30 16:51] wallysson-hotmart commented on #26
Hey guys, i've figure out the problem related to this. It's inside the allure-js-common package.
I've made a pull request for them to fix this, the actual problem it's when we execute functions like waitForExist the allure-js-common pass a undefined data, and the xml data i'ts been saved as empty string like "".

Here's the PR for you guys checkout:
https://github.com/allure-framework/allure-js-co

[2016-12-30 17:56] wallynm commented on #29
Hey guys, i've figure out the problem related to this. It's inside the allure-js-common package.
I've made a pull request for them to fix that, the actual problem it's when we execute methods like waitForExist the allure-js-common pass a undefined data, and the xml data i'ts been saved as empty string like "".

Here's the PR for you guys checkout:
https://github.com/allure-framework/allure-js-comm

[2017-01-06 09:26] rahulmr opened #35 "Node JS platform independent html report generator from allure results"
@christian-bromann I have opened [issue](https://github.com/allure-framework/allure1/issues/896) for generating reports from allure results programmatically using Node JS which should be platform independent. Currently, there is a list of generators but none is specific to Node JS. Allure command line does not seem to be platform independent.
Opening this issue just for tracking.

[2017-01-06 11:10] just-boris commented on #35
will be resolved at https://github.com/allure-framework/allure1/issues/896

[2017-01-06 11:10] #35 closed

[2017-01-12 18:18] jaysirju commented on #34
On a somewhat related not, retrying a failed test also causes the XML corruption that has been reported.

[2017-02-02 00:26] kevinmcdonnell commented on #29
Hey guys,

I am experiencing unstable allure reporter using mocha (sometimes the report fails to generate). The tests, app, jenkins, allure etc are all consistent. It feels like some wdio commands return a result that sometimes affects the report. If I am following these threads correctly (https://github.com/allure-framework/allure-js-commons/pull/25#issuecomment-269801625), a fix is needed somewh

[2017-02-02 12:33] fijijavis commented on #29
@kevinmcdonnell
I'm having the same issue (see above).  As a stop gap I wrote a quick shell script to scrub the xml for `<step stop="" />` and replace with `<step stop="1" />`.  Here's the script...

`for i in ./allure-results/*.xml; do
    sed -i -e 's/stop=""/stop="1"/g' $i
done `

[2017-02-02 13:52] matotej opened #36 "Error: channel closed"
I get these two errors repeated n-times immediately after I add allure to the wdio conf like this:
[code]

[code]

And at the end:
[code]

I did a fresh install of webdriverio and install the allure during the wdio config procedure. I use mocha framework for my test and they pass if I don't use the allure reporter. I use Selenium 3.0.1.

My package.json
[code]

I use Ubuntu 16.04. Any help would b

[2017-02-08 13:53] Efefefef opened #37 "Make use of allure-mocha API"
Hi guys!
I am using wdio-allure-reporter. Is it possible to somehow define steps, descriptions, severities, etc. in tests?
Similar like in this API for global allure object https://github.com/allure-framework/allure-mocha.
Can I somehow make use of allure-mocha package for getting the augmented result generated with wdio-allure-reporter ?

[2017-02-08 14:13] just-boris commented on #37
The architecture of `wdio` is multiprocess. For Allure it means that reporter will be run in the parent process and in the test you will not get an access to `allure` object.

As the easiest way I can only recommend to run Mocha directly and use webdriver.io in [Standalone mode](http://webdriver.io/guide/getstarted/modes.html#Standalone-Mode)

[2017-02-08 16:51] christian-bromann commented on #37
@just-boris With that you would loose all advantages of the testrunner. Why we can't propagate allure events to the parent process?

[2017-02-08 22:27] just-boris commented on #37
I was thinking about it. First of all, for tagging tests by features.

First of all, we need to discuss extra API methods that will provide that functionality. It may be something like this

[code]

It is possible but requires extra work of course. Are you okay with the proposed API at least?

[2017-02-08 22:29] christian-bromann commented on #37
Absolutely!

[2017-02-08 22:48] just-boris commented on #37
Okay. Will try to do this. Currently, all my available time is taken with finishing things for Allure 2.0, so I can't give any dates.

If somebody else would like to contribute it, I will be happy to help with advice.

[2017-02-17 08:53] dayanamcc commented on #26
same issue Exception in thread "main" java.lang.NumberFormatException: For input string: ""
when running allure generate allure-results

wdio v4.6.2
"wdio-cucumber-framework": "^0.2.15",
"wdio-allure-reporter": "^0.1.2",
allure version  = 1.5.0

please suggest any solution.

its true the issue talked above , broken test that doesn't have stop time= "" and status = "" makes that allure can not gene

[2017-02-20 00:58] gitdaemon opened #38 "Error while installing"
npm WARN deprecated node-uuid@1.4.7: use uuid module instead
c:\tt\webdriverio-sample
+-- wdio-allure-reporter@0.0.2
`-- UNMET PEER DEPENDENCY webdriverio@^4.0.7

npm WARN wdio-screenshot@0.5.0 requires a peer of webdriverio@^4.0.7 but none was installed.
npm WARN wdio-visual-regression-service@0.7.0 requires a peer of webdriverio@^4.0.7 but none was installed.
npm WARN webdriverio-sample No descr

[2017-03-01 13:31] christian-bromann commented on #38
These are warnings. Make sure you have WebdriverIO installed, see
[code]

[2017-03-01 13:31] #38 closed

[2017-03-07 05:54] GeoffreyBooth commented on #25
@just-boris I would like to arbitrarily attach strings or files to steps. In my particular use case, I have a hook that runs after every step, and if that step failed it retrieves the browser and server logs. I would like to be able to attach these strings to a step, either as strings or as files.

Is there any way to call `allure.addAttachment` from within a hook function? Or is there an event I

[2017-03-07 09:21] just-boris commented on #25
You do not have access to `allure` object using wdio-allure-reporter, due to multiprocess architecture.

Likely, some steps towards this will be done in https://github.com/webdriverio/wdio-allure-reporter/issues/37

[2017-03-07 15:35] GeoffreyBooth commented on #25
@just-boris Until the new versions come out and hopefully solve this, is there a workaround that works today? I have access to write to the `allure-report` folder, can’t I just save my attachment there directly? How do I get the GUID that Allure expects in the filename, and is there anything I need to update in an XML file or elsewhere?

[2017-03-07 21:04] just-boris commented on #25
Current model of interaction between Webdriver.io and Allure doesn't give any chance to change anything there.
You can either use `allure-mocha-reporter`, however, it doesn't work with parallel tests and requires more manual setup from you.
Second option will be an attempt to implement the feature here. I planned to have this working via `process.send` calls. Somehow like this

[code]

reporter wi

[2017-03-08 22:44] monolithed commented on #37
Should be linked https://github.com/webdriverio/webdriverio/pull/1893

[2017-03-09 20:46] GeoffreyBooth commented on #25
@just-boris I implemented your comment in https://github.com/webdriverio/wdio-allure-reporter/pull/39

[2017-03-10 00:27] bretsherman opened #40 "Annotating Allure tests"
Hi,

There seems to be support for annotating tests when using allure-mocha. However, I can't seem to find any documentation on how to do that here. Is this possible?

[2017-03-10 09:26] just-boris commented on #40
it is going to be supported very soon.
Close this as a duplicate of #37

[2017-03-10 09:26] #40 closed

[2017-03-21 15:36] Burgi0101 commented on #25
Hey guys I am not quite sure if you already checked the wdio-allure-addons-reporter which is attaching screenshots to the tests automatically!
Have to admit I didn't check how he is doing it but it's working!

https://www.npmjs.com/package/wdio-allure-addons-reporter

[2017-03-21 15:40] christian-bromann commented on #25
@Burgi0101 this project is published by the author of this issue @evrycollin

@evrycollin would you consider a PR?

[2017-03-28 14:40] starostin opened #41 "Add failure screenshot to report (need help)"
Hi. I am trying to use jasmine and webdriverio for my project. And also create allure reports. Now I am trying to add screenshots to report, when my test failed. So, for getting screenshots I am using:
`
jasmineNodeOpts: {
    defaultTimeoutInterval: 9999999,
    expectationResultHandler: function(passed, assertion) {
      if (passed) {
        return;
      }
      var title = assertion.message.

[2017-03-28 14:43] christian-bromann commented on #41
please see #25

[2017-03-28 14:43] #41 closed

[2017-03-28 14:51] starostin commented on #25
Hi, could you please provide an example how to add failure screenshots to allure? I am getting screenshots by:
`
jasmineNodeOpts: {
    defaultTimeoutInterval: 9999999,
    expectationResultHandler: function(passed, assertion) {
      if (passed) {
        return;
      }
      var title = assertion.message.replace(/\s/g, '-');
      client.saveScreenshot(('assertionError_' + title + '.png'));

[2017-04-25 14:07] vpattonjr commented on #26
Exception in thread "main" java.lang.NumberFormatException: For input string: ""
What's the status on this?  I really like using the Allure reporter with WebdriverIO, but this keeps popping up.

[2017-05-05 21:21] just-boris commented on #26
`allure-commandline@2.0.0` has been released.
It should fix the error for you. Also esure, that you have `allure-js-commons@1.3.0` in your node modules. It is already within dependencies version range of this package, so it should be updated with next `npm install`.

Please, try v2 and check whether this error happens or not.

[2017-05-05 21:21] just-boris commented on #29
allure-commandline@2.0.0 has been released.
It should fix the error for you. Also esure, that you have allure-js-commons@1.3.0 in your node modules. It is already within dependencies version range of this package, so it should be updated with next npm install.

Please, try v2 and check whether this error happens or not.

[2017-05-06 05:36] christian-bromann commented on #29
@just-boris is there anything that has to be updated in this repo?

[2017-05-06 06:27] just-boris commented on #29
No, it is all fine.
There is only small change in commandline syntax: https://github.com/webdriverio/wdio-allure-reporter/pull/42
Also, Jenkins users should not forget to change the version in their `Global tools` configuration section. Guide can be found there: https://docs.qameta.io/allure/2.0/#_jenkins

[2017-05-12 13:05] uandrei opened #43 "Allure report fails if at least one test fails"
We're using webdriver io with cucumber and allure to run our testing and generate reports. For some reason if any assertion fails, the allure report is incomplete.

When we run the allure report generate command it produces the following error:
`Exception in thread "main" java.lang.NullPointerException: Cannot invoke method value() on null object
        at org.codehaus.groovy.runtime.NullObject.i

[2017-05-12 13:25] just-boris commented on #43
Your problem should be fixed if you will use 2.0 version. It is stable now, please upgrade.

[2017-05-12 13:29] uandrei commented on #43
I've tried using the Docker image 2.0-BETA1 which has been updated 2 days ago...same result

[2017-05-12 13:33] just-boris commented on #43
Could you provide the exact error, that you have got when ran `2.0-BETA1`? It will help us to find the source of problem.

Also, summon @baev: what do you know about our docker image distribution?

[2017-05-12 13:36] uandrei commented on #43
Hi,

With 2.0-BETA1 i get the following error:
`java.lang.NullPointerException
        at org.allurefw.report.allure1.Allure1ModelConvertUtils.convertStatus(Allure1ModelConvertUtils.java:67)
        at org.allurefw.report.allure1.Allure1ResultsReader.convert(Allure1ResultsReader.java:83)
        at org.allurefw.report.allure1.Allure1ResultsReader.lambda$null$0(Allure1ResultsReader.java:65)

[2017-05-12 13:43] baev commented on #43
the problem is that you have no status attribute in xml. Allure 2 should handle this situation, and display `unknown` status in the report

[2017-05-12 13:43] baev commented on #43
mmm..nothing?

[2017-05-12 14:09] uandrei commented on #43
I've checked most of the XML files and it seems that all the testcases and steps have a status tag.

This is an extract of one of the XML files that contain a broken step:
`<test-case start='1494592913324' status='broken' stop='1494592913429'>
	<name>Error "Username field is not required" is displayed</name>
	<title>Error "Username field is not required" is displayed</title>
	<labels/>
	<parameter

[2017-05-12 14:17] baev commented on #43
use latest Allure version https://bintray.com/qameta/generic/allure2 to generate the report. Then you need to find all the tests/steps with status `unknown`, and then you can find bad xml files, I guess

[2017-05-19 21:07] netmajor commented on #37
I am also looking forward for this feature ;)

[2017-06-16 21:22] christian-bromann opened #44 "unable to get screenshots and wdio session is not terminated properly BaseReporter.js:336"
_From @straweb on June 16, 2017 20:40_

## unable to get screenshots and wdio session is not terminated properly
[code]

## Environment

* WebdriverIO version: 4.4.0
* Node.js version: v6.9.4 npm 3.10.10
* wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests:
* Additional wdio packages used (if applicable):

## Details
Earlier I can see error screenshots but in parent fo

[2017-06-21 21:43] just-boris commented on #44
The problem in the following line: https://github.com/webdriverio/wdio-allure-reporter/blob/master/lib/reporter.js#L99

Somehow it happened, that screenshot comand did not give us any screenshot. In order to fix that, we can just add a simple condition around it, but before I would like to understand, why that has happened.

@straweb, are you getting this on a regular basis? Could you provide an e

[2017-06-22 12:44] straweb commented on #44
yes

[code]

[2017-06-22 13:15] just-boris commented on #44
Well, can you also show us the code of the test, that failed?

[2017-06-22 14:38] Efefefef commented on #37
@just-boris Hi! Any news about supporting allure features so far?
For me, the most crucial thing is to be able to use 'step' feature.
So everybody can clearly read on what action test fails, not just have JSON Wire Protocol in logs telling nothing about. Now I have to every time go into the code to the line provided by stacktrace to check what action exactly failing. That kills the ability to have

[2017-06-22 14:49] just-boris commented on #37
I am considering this feature as "pull-requests are welcome".

To be honest, at my work I mostly using `allure-mocha` package and its API, so I don't have a clear vision, how this API should look like.

If anybody wants to have this feature, do not hesitate to submit any code, that shows your expected result. I will help to make the code working.

[2017-06-28 08:04] evless commented on #26
@just-boris, hello!
I install allure-commandline@2.0.0 and allure-js-commons@1.3.0, but exception was not lost. :(

`Exception in thread "main" java.lang.NumberFormatException: For input string: ""
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Long.parseLong(Long.java:601)
	at java.lang.Long.valueOf(Long.java:803)`

`
npm list

allure-commandline@2

[2017-06-28 08:46] just-boris commented on #26
@evless Needed more information. Are you using Cucumber? Do you have test steps marked as `pending`?

[2017-06-28 10:41] evless commented on #26
@just-boris Sure!

1. Yep, i use cucumber
![package json 2017-06-28 15-40-18](https://user-images.githubusercontent.com/10083505/27633328-22238f5a-5c18-11e7-824d-b7ec6c1823b9.png)

2. Yep, have test steps marked as `pending`
[allure-results.zip](https://github.com/webdriverio/wdio-allure-reporter/files/1108371/allure-results.zip)

[2017-06-28 16:13] vpattonjr commented on #26
allure-commandline@2.0.0 fixed the issue, thx :)

[2017-07-06 21:50] just-boris commented on #26
@evless so far I couldn't reproduce your problem.
I have created a demo proejct: https://github.com/just-boris/wdio-cucumber-demo
There I tried to do different steps and falilures, but everything worked as expected.

Also I noticed, that your package.json has an older version of `wdio-cucumber-framework`. The version that you are using is ~1 year old, the actual one is v0.3.1. Maybe, that can be a

[2017-07-06 23:02] christian-bromann commented on #26
Closing then. Thanks

[2017-07-06 23:02] #26 closed

[2017-07-14 07:21] psmod2 opened #45 "Failure screenshot hidden away in Execution test body"
Hello,

I'm using Allure along with WDIO.

One thing I need help with - for failing tests, the screenshot is hidden in the Execution test body - attaching a screenshot to explain what i mean.

How do i get the screenshot to appear at the top?

![a](https://user-images.githubusercontent.com/15928263/28202483-8242859a-68b0-11e7-8e7a-f122493bcb21.PNG)
![b](https://user-images.githubusercontent.com/15

[2017-07-14 09:25] just-boris commented on #45
Hello! Current behavior is defined in our code and cannot be changed on your side.

However we would be happy to accept a PR, that improves functionality about this. The code which is responsible for that feature is around [this line](https://github.com/webdriverio/wdio-allure-reporter/blob/master/lib/reporter.js#L99)

If you have any questions, please let us know!

[2017-07-18 02:44] #45 closed

[2017-07-26 16:15] tortila commented on #25
:+1:

[2017-08-03 08:42] skuppusw commented on #44
I also get this error regularly now. @just-boris @straweb

I use WebdriverIO - 4.8.0
Npm - Wdio-allure-reporter - 0.1.2

D:\BuildAgent\work\f0e11dea6f42e7a2\node_modules\webdriverio\build\lib\utils\BaseReporter.js:336
[23:04:56][Step 2/3]                         throw _iteratorError;
[23:04:56][Step 2/3]                         ^
[23:04:56][Step 2/3]
[23:04:56][Step 2/3] TypeError: First argument

[2017-08-04 03:43] swetashahi-brightplan commented on #36
@matotej: Any update on this issue? Did you find a workaround?

[2017-08-04 18:37] just-boris commented on #44
In my previous comment, I have requested a code sample, that will help me to figure out the reason.

@skuppusw if you constantly have this error, please share a code example.

[2017-08-08 06:47] psmod2 opened #46 "Tidy capabilities"
Hi,

In the current WDIO Allure report, the Environment capabilities are shown as a JSON object `currentTest.addParameter('environment-variable', 'capabilities', JSON.stringify(test.runner[test.cid]));`

Instead of this I'm looking for a tidier version, namely I only want to show the browser options I've passed.

Is it possible to either:

a - disable the capabilities being shown at all (and I cou

[2017-08-08 09:59] christian-bromann commented on #46
This is surely possible. But I don't see how removing information makes any sense. Can you provide more information/screenshots/explanation on this?

[2017-08-08 15:35] psmod2 commented on #46
Hi,

I just want it to look neater than a big Json 'stringify'.

So I'd rather have something like capability as just one line from whatever I get from Jenkins.

Hope that makes sense.

I agree with your perspective in that all information is ultimately information and of course it causes no harm. However from my side it's for the purpose of a clean looking report.

Cheers.

[2017-08-08 15:38] christian-bromann commented on #46
@psmod2 I guess the best way to move forward is a PR. From your description it is hard to exactly know what you are looking for here. This might be a valuable enhancement but you are the only one who could implement this right. So if you can provide a PR with screenshots and the patch that would be awesome.

Thanks!

[2017-08-08 15:38] #46 closed

[2017-08-09 04:29] psmod2 commented on #46
Hi - sorry couldny attached screenshot before - here it is now.

This is what I meant by a cluttered JSON string - of course it contains all the info.

![capture](https://user-images.githubusercontent.com/15928263/29105275-c7fd5672-7d06-11e7-9523-5a208bf79f1d.PNG)

[2017-09-13 08:54] anjana-sundaram opened #47 "Long Session not generating report"
Hi!

I am using wdio 4.8.0 + Mocha 0.5.9 + wdio-allure-reporter 0.1.2

When my test case runs more than a minute in my case its an E-commerce application i am testing E2E. This creates more than 1000 attachment JSON files and at the end it fails with following error without creating XML file.

[code]

I am not sure whether i could suppress the JSON creation (if i am not interested in detailed step

[2017-09-13 08:56] just-boris commented on #47
Seems like you create a circular references in your data structure. I will take a look.

[2017-09-18 19:50] anjana-sundaram commented on #47
@just-boris i checked my code there is no circular dependency. Did you find anything?

[2017-09-25 18:05] ajw015 commented on #44
FYI, I am also hitting this issue with a project using the same versions as skuppusw above, and also generating the report with allure-commandline 2.3.3 ... I have seen it run successfully so it seems to be some sort of race condition. Sorry I can't provide more information just-boris but I think the null check easy suggestion you had would suffice for us.

[2017-09-30 11:56] ViaMay commented on #44
I had this error too but I delete the line

in my file wdio.conf.js and then everything became good

[2017-10-10 12:59] jgsheffer commented on #44
I always receive this error when there is a alert dialog on the screen.  Wdio doesn't seem to be able to take a screenshot when there are some types of blocking alerts visible.

[2017-10-17 08:05] serut opened #48 "The error "Chrome not reachable" crashes the lib"
Hello,

I'm using your library, and for an unknow reason, your library receives this events and  it makes everything stop
https://github.com/webdriverio/wdio-allure-reporter/blob/master/lib/reporter.js#L98-L99
with `command` :
[code]
Stacktrace:
[code]

[2017-10-17 08:19] just-boris commented on #48
Looks like a duplicate of #44.

Thank you for the report, will take a look.

[2017-10-18 15:33] serut commented on #48
Yeap exactly. I use a docker image `selenium/standalone-chrome-debug` and sometimes the selenium server doesn't respond anymore, so I need to remove the container and recreate it.

Anyway, your lib shall not fail.

Maybe use  [lodash.isBuffer](https://lodash.com/docs/4.17.4#isBuffer) ?

[2017-10-22 10:46] GenadyMgr opened #49 "Steps in wdio-allure reporter"
Hi all,

I'm using wdio-allure reporter, i have an issue that all the steps in the report are post/get of the webdriver.

how can i give custom names for the steps? (maybe some thing like @Step in java annotations or allure.createStep).

thanks a lot :)

[2017-10-23 07:38] just-boris commented on #49
There already a PR towards implementing this functionality: https://github.com/webdriverio/wdio-allure-reporter/pull/39

Unfortunately the person started doing this does not respond anymore. And I also do not have enough time to finish this.

If you really lack that feature, you can help our and finish that work, contributing one more PR based on that changes.

[2017-10-23 09:17] christian-bromann commented on #49
Let's continue convo in #39

[2017-10-23 09:17] #49 closed

[2017-11-02 10:37] netmajor commented on #37
Hi @just-boris , @christian-bromann , am wanted to support implementation of useful allure APIs which started @jeremypenner but I have problem with running tests in wdio-allure-reporter.

Each test failed like that:
[code]
I have to change allure results folder to 'allure-results' because in windows folders cannot starts with dot.

I run build task with success. Then I create 'allure-results' fold

[2017-11-03 21:40] netmajor opened #50 "Unable to run project tests on Ubuntu and Mac os x"
Hi,
i am want to support project to implement some allure api but after clone repository, all tests failed. I am using ubuntu.

`
netmajor@netmajor-VirtualBox:~/wdio-allure-reporter$ npm install
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
loadDep:tunnel-agent → ge ▐ ╢███████████████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

[2017-11-04 19:24] netmajor opened #51 "Unable to run project tests on Mac os x"
`MacBook-Pro-Lukasz:wdio-allure-reporter Netmajor$ npm install
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated http2@3.3.7: Use the built-in module in node 9.0.0 or newer, instead
npm WARN deprecated graceful-f

[2017-11-04 20:09] #51 closed

[2017-11-09 12:11] netmajor commented on #50
Anyone could help?

[2017-11-24 01:37] psmod2 commented on #44
Any update on this - an allure report without screenshots isn't very useful.

Any workaround I can temporarily use?

[2017-11-24 07:40] christian-bromann commented on #44
@psmod2 I am not actively working on this so help would be much appreciated

[2017-12-02 04:18] treyturner opened #52 "Only reporting one browser worth of tests (mocha)"
Hi,
I'm using `webdriverio 4.9.11` with `wdio-mocha-framework 0.5.11` and `wdio-allure-reporter 0.1.2`. In Jenkins, I run all my tests with four browsers defined in `wdio.conf.js`. I'm finding that although it appears all the appropriate .json/.xml/.png files are created in `allure-results/`, when I generate the report, only one set of test results appear instead of four. Each run, an arbitrary br

[2017-12-07 14:26] SchwaFa commented on #25
Any news on this?

@evrycollin https://www.npmjs.com/package/wdio-allure-addons-reporter looks interessting, but why didn't you add some documentation about how to add screenshots to the allure report? ;)

@Burgi0101 Can you tell us how you solved it with the mentioned allure-addons reporter?

@christian-bromann I think about more than 2 years ago, I was already complaining about missing screensho

[2017-12-07 14:29] christian-bromann commented on #25
I absolutely agree. I find it also sad though that you expect me to fix this issue for you. I don't use the allure reporter and have other priorities in the WebdriverIO project. Please remember that this is an open source project and involvement is required from everyone.

[2017-12-07 14:40] SchwaFa commented on #25
Sure, it is an OpenSource project, but since you are the head of it and involved in all discussions (and prioritization) I just wanted to address this. ;)

My question is more: Is there any other wdio reporter that includes screenshots for failing tests? Or how do people work with the test results? (although this is the wrong place to discuss this ;))

[2018-01-02 19:51] ajw015 commented on #44
Maybe just adding a null-check to the screenshot creation line 99?
https://github.com/webdriverio/wdio-allure-reporter/blob/master/lib/reporter.js#L99

[2018-01-02 22:16] BorisOsipov commented on #52
@treyturner In your case Allure didn't overwrite test results.
Your tests results handle as retries of the same test due equal tests names.
See [screenshot](https://content.screencast.com/users/Boris_Osipov/folders/Jing/media/daaedc50-5554-4966-bfa8-d7607799ac72/2018-01-03_0112.png)

[2018-01-06 15:36] BorisOsipov commented on #50
@netmajor you need to run PhantomJS.
I described this step in https://github.com/webdriverio/wdio-allure-reporter/#integration-tests recently.

[2018-01-06 20:35] netmajor commented on #50
Big help for answer.
It is good to set in documentation that versions of node and npm is also important:
$ node --version
v6.10.3
$ npm --version
3.10.10
$ nvm --version
0.33.8

For newer version of node, tests for screenshot will not pass because Buffer.from method has changed.

[2018-01-06 20:35] #50 closed

[2018-01-06 20:46] netmajor commented on #37
Hi all!
Solution for above problem was proper version of node and npm installed...
After that I use code of @jeremypenner . All tests passed. Now I will try to wrote some new tests for new functionalities. Without that new code not pass review?

[2018-01-06 20:55] netmajor commented on #23
I think that issue is outdated for now... All tests passed

[2018-01-07 18:40] #44 closed

[2018-01-07 18:41] christian-bromann commented on #23
Tests to master passing again ... closing

[2018-01-07 18:41] #23 closed

[2018-01-07 20:47] BorisOsipov commented on #48
@serut I fixed this in https://github.com/webdriverio/wdio-allure-reporter/pull/56
can you verify that issue diappear and close this one?

[2018-01-09 20:35] netmajor opened #57 "Cannot set other port for static server"
After change server to static, i cannot set other port than default 8080. Unfortunately this port use used by other app on my mac os.
In previous solution with phantomjs port was set to 4444 and i could change port for connect plugin to 8888.

Could you change static cli to program static api (in which it is possible to set other port):

[code]

[2018-01-10 20:33] #57 closed

[2018-01-11 03:31] treyturner commented on #52
An interesting note for sure. I still require to separate and surface the various test results of browser/OS permutations.

[2018-01-13 20:13] netmajor commented on #52
Hi, I have also check this scenario. I have executed same tests but using two browsers. After tests I have in .allure-result two files per browser, but allure generate report with only information for one test.  I ask allure support  what option should contains test that report show statistics for test per browser. I checked feature and environment but its not works.

For me solving this problem i

[2018-01-14 19:14] netmajor commented on #37
Can someone change status to in development ? I will adding new features...

https://github.com/webdriverio/wdio-allure-reporter/pull/59
https://github.com/webdriverio/wdio-allure-reporter/pull/60

[2018-01-14 19:27] netmajor opened #61 "Add badges to readme page"
I start to developing code for the project and I want to know how is code quality.

 nice to have is to add few badges to readme page like:

- Is dependencies up to date
- npm release version
- next code climate badges- code coverage (why currently code climate not generate code coverage?)

[2018-01-16 15:33] netmajor opened #62 "Using allure2-js-commons"
Latest allure-js-commons are using allure1 model (xml files).
Allure team are working on new version of js-commons that will store files in json format.
see https://github.com/korobochka/allure2-js-commons

We should move to allure2 to be up to date...

[2018-01-16 16:08] just-boris commented on #62
I would not say, that this is the right time to do that. The new package at the very early stage of development and is not used by a lot of people.

As soon as will be more stable, it will become available under the original name `allure-js-commons`. Before that I would not recommend to do any changes.

[2018-01-16 18:04] netmajor commented on #62
I agree with you. I have created this issue rather as feature for future. I don't have access right to add labels.

Now I myself start to add allure api methods to project. I also want to look into issues and fix if is possible.

Maybe then I create next fork where I will try to use allure2-js-commons. I think that it will be great to support allure team in their work. If we don't try to use it th

[2018-01-18 21:03] netmajor commented on #52
@christian-bromann We can close this issue, because it is Allure2 issue. I create issue there https://github.com/allure-framework/allure2/issues/723

[2018-01-19 19:47] netmajor commented on #34
@ninnepinne Do you still have that problem ? I check test in library
[code]
[code]
And it generate nice xml output.

[2018-01-19 20:01] ninnepinne commented on #34
Hi.
Thanks for looking into the matter. I unfortunately do not have access to
the code anymore (switched job), but I think the problem was solved with
Allure2.
At least the report generation process did not crash after that.
Thanks
/F

On Jan 19, 2018 20:47, "netmajor" <notifications@github.com> wrote:

[2018-01-19 20:35] netmajor commented on #34
@christian-bromann Please close ;)

[2018-01-19 20:37] netmajor commented on #25
@christian-bromann Please close issue

[2018-01-22 07:30] #25 closed

[2018-01-22 07:31] #34 closed

[2018-01-22 07:37] christian-bromann commented on #52
Awesome, thanks @netmajor

[2018-01-22 07:37] #52 closed

[2018-01-22 16:27] #62 closed

[2018-01-24 10:11] dannyjhall opened #80 "Duplicate screenshot attachments"
As discussed on #58, screenshot attachments are now duplicated due to the addition of the new `runner:screenshot` listener.

 Screenshots are now attached to the report twice, first via the existing runner:result listener and again with the new runner:screenshot listener.

<img width="274" alt="35269994-9a3f6412-0025-11e8-9a0f-7c95db2111ff" src="https://user-images.githubusercontent.com/1398186/35

[2018-01-24 12:11] BorisOsipov opened #83 "'Multi-browser test case' fails on Windows"
https://github.com/webdriverio/wdio-allure-reporter/blob/e3469fab3c945fc8ee3b3c52a340cf032687b1ce/test/specs/test-case-multi-browser.js#L19

Fails with:

[2018-01-24 12:24] netmajor commented on #83
Ok. I will fix it. I need to check only file name

[2018-01-24 18:47] christian-bromann commented on #80
Fixed in #81

[2018-01-24 18:47] #80 closed

[2018-01-27 17:18] netmajor commented on #83
@BorisOsipov  Done. Could you check now ?

[2018-01-27 17:21] netmajor commented on #48
@serut Please verify

[2018-01-27 20:37] christian-bromann commented on #83
This passes now, thanks @netmajor

[2018-01-27 20:37] #83 closed

[2018-02-08 10:07] saritanzu opened #92 "After deleted allure-results and re running project - allure opens an empty web page"
Hi, yesterday I manually deleted from my projects folders all of the allure-results files. I re-run my project several times but when I init allure it opens an empty browser page, there are no errors in the command line. I tried reinstalling it via brew command (I'm using mac) but it says that allure already install.
What can I do? any ideas? Im stuck without a reported
*I deleted all the allure-

[2018-02-08 10:20] BorisOsipov commented on #92
Hi @saritanzu

1) Please check that new *.xml allure-results contain your tests run data - just check to get know that is not problem with report data.

2) We've ran into simular issue on mac. We got empty report due to some issues only on mac workstation. I don't have chance to investigate this issue cuz I don't have access to mac workstation.
Can you try generate report with your data in win\lin

[2018-02-08 11:39] saritanzu commented on #92
@BorisOsipov  Thanks for the fast reply.
1. I do not have any xml file in my allure-results folder. Can I generate one myself? If so, how should I name it?
2. If after restoring the xml file to the folder the issue remains I will do so.

[2018-02-08 13:09] BorisOsipov commented on #92
P.S. If it is a problem with report generation ask in https://github.com/allure-framework/allure2 or on allure2 gitter.

[2018-02-24 22:47] matt-mcc1 opened #94 "Failed Jasmine expect is marked as Broken instead of Failed"
A Jasmine assertion error is marked as Broken in the allure output XML, but Dot reporter correctly says the test failed.

2 passing (29.70s)
1 failing

1) webdriver.io page - failing test suite1 should have the right title - the fancy generator way:
Failed: 'WebdriverIO - WebDriver bindings for Node.js' == 'Failing test for testing'
running firefox
AssertionError: 'WebdriverIO - WebDriver bindings

[2018-02-25 01:13] matt-mcc1 opened #95 "Jasmine - when using 'xit' for and 'it' block to skip a test, status is marked as 'undefined' not 'skipped'"
In a Jasmine spec, when you xit an 'it' block to skip it, and run the tests, wdio-allure-reporter marks the status of that case to be 'undefined' which then results in a allure-commandline exception.

Would expect the status in the output XML to be 'skipped' not 'undefined'.

Dot reporter correctly states 'skipped'.

`<test-case start='1519520826265' status='undefined'>`

Let me know if any more i

[2018-02-26 15:23] BorisOsipov commented on #94
Hi @matt-mcc1

Simple repo with an example project to reproduce the issue will be nice to have.
As well as for an https://github.com/webdriverio/wdio-allure-reporter/issues/95 issue.

[2018-02-26 22:59] matt-mcc1 commented on #94
[code]

[2018-02-26 23:01] matt-mcc1 commented on #94
Spec:

[code]

[2018-02-26 23:06] matt-mcc1 commented on #94
@BorisOsipov  - here is the config & spec file

Thanks in advance for your help

[2018-02-27 10:55] matt-mcc1 commented on #95
var assert = require('assert');

describe('webdriver.io page', function() {

    it('should have the right title - the fancy generator way', function () {
        browser.url('http://webdriver.io');
        var title = browser.getTitle();
        assert.equal(title, 'Fake assertion to fail a test intentionally');
    });

    xit('should have the right title - the fancy generator way', function ()

[2018-02-27 12:29] BorisOsipov commented on #95
@matt-mcc1 ok. thanks. I will have look.

[2018-02-27 18:54] christian-bromann opened #97 "wdio-allure-framework results in allure report with steps from different TCs in a Scenario Outline scrambled together"
_From @osmolyar on February 27, 2018 18:49_

## The problem

The Gherkin steps for Scenario Outlines are completely scrambled in the Allure report resulting from the use of wdio-allure-reporter@0.3.2,, with steps from different test cases combined together into a numbered list and not ordered on display, e.g., see 'License Key test Invalid License Key FIles' in

http://172.16.4.109:64354/index.htm

[2018-02-27 19:01] osmolyar commented on #97
For reference, for the original submitted issue, the Scenario Outline corresponding to the output shown in the Allure report: http://172.16.4.109:64354/index.html#suites for suite "License Key test Invalid License Key Files" is as follows:

Scenario Outline: Test invalid license key files
When I import and try to activate the license key <filepath>
Then the file contents panel should contain <erro

[2018-02-27 19:18] BorisOsipov commented on #97
@osmolyar
 http://172.16.4.109:64354/index.html#suites
it is a private network. We can't access it.

could you add screenshot of report with problem, please?

[2018-02-27 19:44] osmolyar commented on #97
@BorisOsipov  You are right, here is a screenshot.  The 13 steps in suite 'License Key test Invalid License Key Files' result from 5 different TCs, each with 3 steps (not sure why there are 13; all the steps passed).

![image](https://user-images.githubusercontent.com/15637471/36750706-38869b2e-1bcc-11e8-91fb-08dbe6f3d760.png)

[2018-02-27 19:58] BorisOsipov commented on #97
@osmolyar Oh now I am understanding reason of your issue. I have ran into it already.

It is some kind of designed behaviour. Wdio-cucumber reporter handle each cucumber step as "test" and allure report generates "correct" report.

I guees we need to change it somehow, but I don't really now how implemet it - I don't like to break current mocha\jasmine reports.

You can try my own fork, I fixed th

[2018-02-27 21:00] osmolyar commented on #97
@BorisOsipov , thanks for your response.  I did as you have suggested in my local package.json, ran npm update and re-ran the test (with the same results, even after deleting the allure_results and allure-reports directories first).

One thing is that currently wdio-allure-reporter (and wdio-cucumber-framework) are running globally so I'm not positive the changed dependency is being used; this is

[2018-02-28 15:06] osmolyar commented on #97
For reference, here is the Scenario Outline with 13 TCs/3 steps each, corresponding the the 5 steps(tests) reported above for Scenario 'User Management Create users-basic fields'.  Both dot and junit reporters show that all tests and steps ran.

 Scenario Outline: Create users - basic fields

    When I create a user:
      | login             | <login>             |
      | passwd            | <p

[2018-02-28 16:43] osmolyar commented on #97
See also related WebdriverIO documentation issue, https://github.com/webdriverio/webdriverio/issues/2623

[2018-02-28 16:51] BorisOsipov commented on #97
@osmolyar

no. it is hard to guess what is the problem.

I guess it because your scenario in scenario outline has the same name for all examples. Allure handles it as retries.

[Get repo with example](https://github.com/BorisOsipov/wdio-allure-example) - run test and generate report. `npm run wdio`, `allure serve`

For me it looks good.
See screenshot https://www.screencast.com/t/bJNzHBrY

[2018-02-28 16:56] christian-bromann commented on #97
Is there anything we need to change in the cucumber adapter or in the reporter system to achieve support for the allure reporter in cucumber?

[2018-02-28 16:59] osmolyar commented on #97
@BorisOsipov , thank you very much for the example with the parametrized Scenario Outline name!  It looks like this should in fact fix the issue.  (This is not something I had seen before I'd previously used  'testId' in the Examples table with SpecFlow as a test name.)

[2018-02-28 17:03] christian-bromann commented on #97
@BorisOsipov what is different in your fork than what is on master?

[2018-02-28 17:14] BorisOsipov commented on #97
@christian-bromann
Shortly I handle
`'suite:start'` with empty parent suite as Allure _suite_
`'suite:start'` with filled parent suite as Allure _test_
`'test:start'` as Allure _step_

It's main changes.
It isn't hard to merge my changes to master, but I don't like to do it without tests and it brings significant time effort to me.

[2018-02-28 17:15] osmolyar commented on #97
@BorisOsipov I'm happy to test a merged package if it would be of use.

[2018-02-28 17:23] BorisOsipov commented on #97
@osmolyar

they sorted by Name. It is Allure sorting default.

I told about integration tests. Current repo has test suite based on mocha tests. If we separate logic with mocha and cucumber reporting we will need add corresponding test for it

[2018-02-28 17:26] christian-bromann commented on #97
@BorisOsipov would you mind making a PR and other people then can contribute to it?

[2018-02-28 17:29] BorisOsipov commented on #97
@christian-bromann Sure. I will prepare PR.

[2018-02-28 17:47] osmolyar commented on #97
@BorisOsipov

Is it possible to consider sorting by # for Cucumber, because the tests in a Scenario Outline have a clear order and it is disorienting to view the results in a different order?

[2018-02-28 18:01] BorisOsipov commented on #97
@osmolyar
report generation and report UI (sorting, widgets positions) out of scope allure-wdio-reporter

It is allure-framework issue e.g. here you can find the same question :)
https://github.com/allure-framework/allure2/issues/734#issuecomment-367692004

[2018-03-01 11:12] anto-wahanda opened #98 "Impossible to attach image as an attachment to a test case"
# Description of the issue

When trying to add an image as attachment to the report for a test case using `reporter.createAttachment()`, an attachment is added to the xml report, but

- the image generated and saved in the allure results folder cannot be open
- the attachment does not have a specified size, hence the report cannot be generated

# Steps to reproduce

1. Clone the repo with a prepar

[2018-03-01 11:51] BorisOsipov commented on #98
@anto-wahanda thank you for comprehensive bug report.

Yes it is a wdio-allure-reporter issue

Here we need to pass `Buffer.from(content, type)` rather just `content`
https://github.com/webdriverio/wdio-allure-reporter/blob/6aedcd4459f5ac0d092cc197681b3d7b53520d01/lib/reporter.js#L197

[2018-03-01 12:07] anto-wahanda commented on #98
@BorisOsipov I think it makes sense, although... what would type be in that context? If it's the type passed in when calling `createAttachment()` that would be invalid. Should it always be `'base64'`?

Also, should createAttachment take a base64 encoded string then?

[2018-03-01 12:37] BorisOsipov commented on #98
@anto-wahanda good questions.

We need to pass type. it will be requered field.
Now I don't have time to go deeper and answer.

Maybe. I don't know are there any problem with reading base64 from unknown source.
I can advice to look how allure recognize mime type
https://github.com/allure-framework/allure-js-commons/blob/master/util.js

Also, should createAttachment take a base64 encoded string the

[2018-03-01 17:22] anto-wahanda commented on #98
I am confident I have a fix, which is basically `allure.addAttachment(name, Buffer.from(content), type)`.

I want to add a test, but I'm struggling with cheerio API. After doing the following, I want to at least verify that the attachment has a size set, but I haven't been able to figure out how.

[code]

[2018-03-05 15:21] christian-bromann commented on #98
Merged and released as v0.3.3

[2018-03-05 15:21] #98 closed

[2018-03-06 23:49] matt-mcc1 commented on #94
Hey @BorisOsipov
Just wondering if you had any luck with this?
Thanks

[2018-03-07 15:29] BorisOsipov commented on #94
@matt-mcc1 I made PR https://github.com/webdriverio/wdio-allure-reporter/pull/100

[2018-03-07 15:35] BorisOsipov commented on #95
I don't find isue root cause.
It is wdio-jasmine specific - it reports pending test strange. I am not jasmine user and won't plane fix this issue.

I've added correponding test https://github.com/BorisOsipov/wdio-allure-
reporter/commit/3aabc5ee12f3acc7d32d21c2ee1daa9f0772ba50#diff-45cbff1fc84c9e99630fd43f571f49eeR43
It may help to fix issue somehow.

[2018-03-07 17:46] BorisOsipov commented on #94
@matt-mcc1 check it in wdio-allure-reporter 0.4.0

[2018-03-07 17:57] christian-bromann commented on #61
Feel free to open a PR for it.

[2018-03-07 17:57] #61 closed

[2018-03-08 07:11] sumeetp4 opened #101 "Cannot use allure.createStep with wdio-allure-reporter with cucumber framework?"
When using wdio-allure-reporter with cucumber as framework

I'm not able to use allure.createStep like I could use with mocha-allure-reporter.

Also when I have defined a scenario in feature file and it has some Given-When-Then, it considers each Given-When-Then as a test case and scenario as a test suite in the html report.

Please check attached feature file and report screenshot

[feature.featu

[2018-03-08 07:41] BorisOsipov commented on #101
@sumeetp4 it will be available after https://github.com/webdriverio/wdio-allure-reporter/pull/96
stay tuned

[2018-03-08 07:51] BorisOsipov commented on #94
@matt-mcc1
I generated a report from your spec\config example above and it looks right
https://www.screencast.com/t/S0oXfSl51gbG

Can you share case when "Dot 'failures' are still marked as Allure 'broken'" ?

Yes.
assertion error => failed
any other error => broken

[2018-03-08 08:58] sumeetp4 commented on #101
Sure @BorisOsipov ,looking forward to use it. Thanks :)

[2018-03-08 15:38] osmolyar opened #102 "When multiple capabilities are configured in one Jenkins run, Allure report shows data for only one"
When multiple capabilities are configured in one Jenkins run, Allure report shows data for only the last one.

E.g.: Allure report:
![image](https://user-images.githubusercontent.com/15637471/37159437-e30b3ad2-22bb-11e8-88b0-7167f75412a3.png)

vs. wdio.conf.js:

capabilities: [
           { browserName: 'firefox', marionette: true },          { browserName: 'chrome', chromeOptions: {
            p

[2018-03-08 16:06] matt-mcc1 commented on #94
Thanks @BorisOsipov

Here is a repo to reproduce: https://github.com/matt-mcc1/WebdriverIO_Boilerplate

The third test in the spec fails due to an assertion error, but this is marked as broken in allure

If you need any more info just let me know

[2018-03-08 16:30] BorisOsipov commented on #102
duplicate https://github.com/webdriverio/wdio-allure-reporter/issues/52

[2018-03-08 16:31] #102 closed

[2018-03-08 17:08] BorisOsipov commented on #94
@matt-mcc1

I am not sure, but I guess there is no such type as `broken` in `wdio-dot-reporter`. That is why it always reports failed test as `failed`.

In your sample Jasmine expect throws `Error` not `AssertionError`. That is why tests marked as `broken` in Allure.
`expect(browser.isExisting(FakeElement)).toBe(true, 'You can add a message here');`
[See screenshot](https://content.screencast.com/

[2018-03-08 20:00] BorisOsipov commented on #102
@osmolyar I understood your concern. I guess we can start disscusion how we can handle this case before we will be able to migrate to allure2 completly.

[2018-03-08 20:03] BorisOsipov opened #103 "Handle case when wdio tests run against multiply browsers"
When wdio tests runs against multiply browsers three is an issue - tests in allure report shows as one test.
see https://github.com/webdriverio/wdio-allure-reporter/issues/102
and https://github.com/webdriverio/wdio-allure-reporter/issues/52

Probably we need to handle it somehow now.

I can propose to add browser name from capability to test name controled by option key.

[2018-03-08 23:06] matt-mcc1 commented on #94
Thanks @BorisOsipov

Can confirm that for me an AssertionError is correctly marked as 'Failed' in Allure in the latest version.

I'll need to figure out why Jasmine just throws an Error, rather than AssertionError.

Will close this ticket, thanks for the PR.

cc: @christian-bromann

[2018-03-08 23:06] #94 closed

[2018-03-08 23:17] matt-mcc1 commented on #95
Thanks @BorisOsipov
I've just retested with latest version of wdio-allure-reporter.

For a Jasmine xit , I'm still getting status='undefined'.

Having said that, in the Allure report they are marked as 'Unknown' when generated using latest Allure Commandline 2.5.0. Previously I was getting report generation exceptions.

@christian-bromann  - shall I raise a ticket on wdio-jasmine repo?

[2018-03-08 23:19] matt-mcc1 commented on #95
Could be similar to https://github.com/webdriverio/wdio-jasmine-framework/issues/29

[2018-03-09 21:07] #101 closed

[2018-03-09 21:08] BorisOsipov commented on #48
Closed as fixed.

[2018-03-09 21:08] #48 closed

[2018-03-09 21:09] BorisOsipov commented on #92
@saritanzu have you resolved your issue?

[2018-03-09 21:10] BorisOsipov commented on #43
Problem fixed in allure 2.0

[2018-03-09 21:10] #43 closed

[2018-03-09 21:12] BorisOsipov commented on #31
Duplicate of https://github.com/webdriverio/wdio-allure-reporter/issues/26

[2018-03-09 21:12] #31 closed

[2018-03-09 21:17] BorisOsipov commented on #29
No simular errors have been reported since may 2017. Looks like it was fixed. I am closing this issue.

[2018-03-09 21:17] #29 closed

[2018-03-11 09:25] #92 closed, assigned to nobody

[2018-03-14 04:20] ezwanharun opened #105 "Report title been places in wrong position"
hi all,

I noticed that the allure report that been generated is showing the wrong scenario and feature title. Look like the 'Feature' and 'Scenario' title tagging is been put on the same layer which is on 'Feature' layer. I attached the image on how my report look like. This cause all my steps been drag forwards and act as scenarios /test cases now.

![screen shot 2018-03-14 at 12 17 04 pm](https

[2018-03-14 08:10] BorisOsipov commented on #105
@ezwanharun
Yes it is.
It will be fixed in https://github.com/webdriverio/wdio-allure-reporter/issues/97

[2018-03-14 08:10] #105 closed

[2018-03-15 19:03] BorisOsipov commented on #103
Fixed in https://github.com/webdriverio/wdio-allure-reporter/pull/106

[2018-03-15 19:03] #103 closed

[2018-03-16 20:21] BorisOsipov commented on #97
@osmolyar We have fixed cucumber steps reporting in https://github.com/webdriverio/wdio-allure-reporter/pull/108

Have a look and provide feedback for us. @christian-bromann will release new version soon.

[2018-03-16 20:21] #97 closed

[2018-03-16 20:22] BorisOsipov commented on #95
@matt-mcc1 We have fixed jasmine pending case reporting.

Have a look and provide feedback for us. @christian-bromann will release new version soon.

[2018-03-16 20:22] #95 closed

[2018-03-16 20:24] BorisOsipov commented on #97
@osmolyar pay attention we don't enable new option by default. You need to enable it in your config see https://github.com/webdriverio/wdio-allure-reporter#configuration

[2018-03-16 20:25] BorisOsipov commented on #105
it was fixed. See https://github.com/webdriverio/wdio-allure-reporter/issues/97 for details.

Looking forward for your feedback.

[2018-03-18 03:41] amiya-pattnaik opened #109 "latest version of wdio-allure-reporter" does not generate allure report"
Hi,
I noticed that that after upgrading the wdio-allure-reporter": "^0.6.0", it does not generate the report.
`allure generate ./allure-results -c  && allure open report `, opens a blank report.
below are the modules used.
wdio-allure-reporter": "^0.6.0",
"allure-commandline": "^2.5.0",
"wdio-mocha-framework": "^0.2.2",

![image](https://user-images.githubusercontent.com/10468789/37562412-786b53a2

[2018-03-18 12:13] BorisOsipov commented on #109
Works fine in sample project https://github.com/BorisOsipov/wdio-allure-multibrowser-test

Please double check out setup. If you have simple project to reproduce the issue share it with us.

P.S.

It always generates xml files for reporting. Nothing changed here.

[2018-03-18 16:06] amiya-pattnaik commented on #109
Hi Boris,
thanks for your information. I found the root cause. the newer version of allure has command `allure open`  instead of earlier version which used to be `allure open report`. Now it is working with `allure open`.

Thanks for your advise.

[2018-03-18 16:06] #109 closed

[2018-03-19 15:40] osmolyar commented on #97
@BorisOsipov , thank you very much for the fix and the tip!  I will test potentially this week and get back to you.

[2018-03-30 05:16] ezwanharun commented on #97
@BorisOsipov , seem like your changes is not working on the latest version (0.6.0). The scenario title is still combined with features title.

[2018-03-30 06:54] BorisOsipov commented on #97
@ezwanharun share screenshot of report and your allure options

[2018-03-30 07:13] ezwanharun commented on #97
I paste my report screenshot along with allure option in here.
![screen shot 2018-03-30 at 3 12 34 pm](https://user-images.githubusercontent.com/13920802/38128365-dabd9370-342c-11e8-9f7e-d9ea530bbf3a.png)

[2018-03-30 07:19] BorisOsipov commented on #97
@ezwanharun https://github.com/webdriverio/wdio-allure-reporter#configuration
turn on `useCucumberStepReporter`

[2018-03-30 08:20] ezwanharun commented on #97
Oh...yeah...thanks. didnt notice about that configuration. everything working as expected now.

[2018-04-04 10:12] sumeetp4 opened #112 "Can I use createStep function of mocha-allure-reporter in wdio-allure reporter?"
I am running Cucumber scripts using wdio.conf

I see that createStep function is added in wdio-allure-reporter to add custom steps, but it is different from the one in mocha-allure reporter API where we used to pass the name and stepfunc  (where Result of each call of this function will be recorded into report)

But in wdio-allure-reporter I see that createStep function is defined as createStep(ti

[2018-04-04 10:27] BorisOsipov commented on #112
@sumeetp4  thanks for reporting this

It is a bug. But we don't know real step status and I don't know how fix it now.

No

[2018-04-04 10:29] sumeetp4 commented on #112
Oh okay. Thanks @BorisOsipov

[2018-04-13 23:28] mkj28 commented on #36
Ping @matotej  again :) any luck working around it? We are hitting the same/similar issue.

[2018-04-14 06:11] BorisOsipov commented on #36
@mkj28 Can you share with us simple project when issue occurs?

[2018-04-27 08:45] BorisOsipov commented on #112
Unknown step status was fixed in https://github.com/webdriverio/wdio-allure-reporter/pull/113
No you can specify step status createStep(title, body, [bodyLabel], [status]) or keep default 'passed'

[2018-04-27 08:45] #112 closed

[2018-04-27 09:43] sumeetp4 commented on #112
Cool. Thanks @BorisOsipov

[2018-04-30 20:41] wendywww opened #114 "No such file or directory ./AllureCommandline/bin/allure"
In experiment on wdio-allure reporter on jenkins.
**Encountered such error:**
/home/ec2-user/tools/ru.yandex.qatools.allure.jenkins.tools.AllureCommandlineInstallation/AllureCommandline/bin/allure generate -c -o /home/ec2-user/workspace/integration-tests-allure/allure-report

env: '/home/ec2-user/tools/ru.yandex.qatools.allure.jenkins.tools.AllureCommandlineInstallation/AllureCommandline/bin/allur

[2018-04-30 20:44] wendywww commented on #114
![screen shot 2018-04-30 at 11 46 03 am](https://user-images.githubusercontent.com/5750536/39449304-876ddf96-4c7c-11e8-9254-8f8b80fe46e7.png)

[2018-04-30 20:51] BorisOsipov commented on #114
Hi @wendywww

It isn't wdio-alure-reporter issue.
You may ask for help in allure-framework gitter
https://gitter.im/allure-framework/allure-core

or create issue in allure-jenkins plugin repo (don't know link).

[2018-04-30 20:51] #114 closed

[2018-04-30 20:51] wendywww commented on #114
Ok, thank you.

[2018-05-18 14:22] osmolyar opened #115 "All skipped steps in run displayed even when suites are collapsed when using with wdio-cucumber-framework"
All skipped steps in a run are displayed under the suites on the Behaviors view even when suites are collapsed.  They are also displayed when navigating to one suite from the Overview pane even if they are not part of that suite.

For example, in the below image, with all suites collapsed, all the Skipped steps (from 'Access Control' suite) are displayed:

![image](https://user-images.githubuserco

[2018-05-18 14:26] BorisOsipov commented on #115
@osmolyar can you share *.xml file with such skipped tests?

[2018-05-18 15:10] osmolyar commented on #115
Here is a zipped file of two of the *testsuite.xml files with steps reported as 'Skipped' (status =undefined):.

[Skipped_undefined.zip](https://github.com/webdriverio/wdio-allure-reporter/files/2017444/Skipped_undefined.zip)

Another thing is that the skipped tests *don't* appear with the other steps inside the test cases they belong to, for example the steps pictured above belong with test cases

[2018-05-18 15:34] BorisOsipov commented on #115
another group of questions:

1) which wdio-cucumber\allure versions do you use?
2) add allure reporterOptions and cucumber configuration.
3) how do you skip such test in cucumber?

[2018-05-18 15:58] osmolyar commented on #115
Actually it is working correctly in another installation, using your latest 0.6.0 version, so this item can be closed.

To answer the questions:
1. "wdio-cucumber-framework": "^1.1.0",
  "wdio-allure-reporter": "^0.3.2",

2.    reporters: `   reporters: ['spec','junit','dot','allure'],
    reporterOptions: {
        json: {
            outputDir: 'testResults'
        },
        junit: {

[2018-05-19 13:25] christian-bromann commented on #115
@BorisOsipov why just closing the issue?

[2018-05-19 13:38] BorisOsipov commented on #115
@christian-bromann I guess misclick. thank you for pointing that out

[2018-05-19 13:42] BorisOsipov commented on #115
@osmolyar
1) as I see your xml files are not generated with `useCucumberStepReporter` option.
2) > Skipped steps are displayed directly under the tests for the other open suite:
It looks like bug. I will see.

[2018-05-26 07:27] slysenko opened #117 "Multiremote test crashes with allure reporter enabled"
wdio/jasmine test with multiremote config and test suite based on http://webdriver.io/guide/usage/multiremote.html

[code]

in package.json:
```"wdio-allure-reporter": "^0.6.0",```

with 'allure' included in 'reporters, the test crashes with the following errors:

[code]

if 'allure' is removed from the 'reporters' the test goes as expected, i.e

[code]

[2018-05-26 07:33] BorisOsipov commented on #117
@slysenko can you [enable verbose log](http://webdriver.io/guide/getstarted/configuration.html#logLevel) and share it with us?

[2018-05-26 07:37] BorisOsipov commented on #117
@slysenko or share example of project.

[2018-05-26 07:38] slysenko commented on #117
[code]

[2018-05-26 07:39] slysenko commented on #117
this is from selenium-standalone

[2018-05-26 07:40] slysenko commented on #117
[code]

[code]

[2018-05-26 07:43] slysenko commented on #117
[code]

[2018-05-26 07:43] slysenko commented on #117
[code]

[2018-05-26 07:45] slysenko commented on #117
package.json

[code]

[2018-05-27 13:45] christian-bromann commented on #117
Fixed by #118

[2018-05-27 13:45] #117 closed

[2018-05-30 11:06] perwez123 opened #119 "Feature Request - Adding Issue link and Severity level"
I have used the allure report for TestNg and Spock framework where I have used all the API of allure such as (feature, story, description, severity, issue, testId, host). There are many feature which is  missing such as **(severity, issue, testId, host, reportName)** in wdio-allure-reporter.

I feel these features are very interesting and all will love to have it supported by wdio-allure-reporter.

[2018-05-30 11:45] BorisOsipov commented on #119
@perwez123 yes it isn't hard to support.

Feel free to submit PR.

[2018-06-04 15:16] javacoldbrew opened #120 "History shows up in the Retries tab"
<img width="397" alt="allurereportsretries" src="https://user-images.githubusercontent.com/25971275/40925388-9dbf6d60-67e7-11e8-844f-62ed8d1dd4be.PNG">
<img width="409" alt="allurereportshistory" src="https://user-images.githubusercontent.com/25971275/40925392-a0c594a8-67e7-11e8-9a3f-89878daee2d0.PNG">

In `wdio.conf.js` I have reporter options like this:
[code]

[2018-06-04 20:44] christian-bromann commented on #120
I am not sure if the history was part of the webdriverio report. I think it was always blank like this.

[2018-06-05 06:01] BorisOsipov commented on #120
It isn't wdio-allure-reporter issue. In retries tab you see retries(cuz you don't clear allure-results and add test with the same name to report scope). As I know history generation requires additional steps(google it) and it may requere allure2 format (we use allure1)

[2018-06-05 06:01] #120 closed

[2018-06-05 11:59] baev commented on #120
history feature is format independent, here you can find short note about history and other features your can add to the report https://stackoverflow.com/a/46222758/3915166

[2018-06-05 17:29] javacoldbrew commented on #120
Thank you all for your help!

@baev Thank you for the link, that helped clear up a lot of things!

[2018-06-12 14:25] PavanGurramQA opened #122 "wdio allure reporter is not displaying all the executed steps of Scenario Outline and the steps displayed are not in the right order"
Hi All,

I really need someone's help to resolve the below issues. Any help is really appreciated!!

1.  To describe with an example, my scenario outline has 7 steps and with 2 examples. When it is executed, expecting the total number of executed steps count should be 14 but it is showing as 9 i.e., only the unique steps but not all the steps although they are executed. Since my test suite is larg

[2018-06-12 15:37] BorisOsipov commented on #122
@PavanGurramQA Allure handles two scenarios with the same names as retries of the one scenario.
Change your scenario names to make it different for allure
e.g. add params from the examples section to the name
`Scenario Outline: 1 person basic search <param1name> <param2name>`

I guess it will solve both issues.
If it is not - attach your source allure xml file.

[2018-06-12 15:37] #122 closed

[2018-06-13 11:08] PavanGurramQA commented on #122
@BorisOsipov Many many thanks for your prompt response. Applied your suggestion and the issue got resolved. Really appreciate your response :)

[2018-06-13 11:16] PavanGurramQA opened #123 "Allure report is not opening in Chrome/IE"
Hi All,

I have gone through one of the sites which talk about the solution to make Allure report open in Chrome browser. Unfortunately, the solution wasn't clear and now raising it as a new issue. Please route me to any existing issue if raised for the same.

As the issue title says, Allure report is NOT opening in Chrome and IE browser (screenshot attached) and working fine with Firefox browser.

[2018-06-13 11:22] BorisOsipov commented on #123
It isn't allure wdio reporter issue, please use [allure-gitter-channel](https://gitter.im/allure-framework/allure-core) for such questions.

For your question see -
https://github.com/allure-framework/allure1/wiki/FAQ-and-Troubleshooting#i-see-nothing-when-opening-the-report-page-in-my-browser--access-denied-message

[2018-06-13 11:22] #123 closed

[2018-06-13 11:29] PavanGurramQA commented on #123
Thanks @BorisOsipov. I'll go through the link you provided for my question. I'll use the allure-gitter-channel for any questions. Cheers!!

[2018-06-15 20:48] PavanGurramQA opened #124 "wdio-allure-reporter is showing the results of only 8 feature files"
Hi All / @BorisOsipov

I assume this issue is related to wdio-allure-reporter so raising it in here. I've gone through many sites for a solution before raising this issue and since there is no solution identified, ended up requesting the suggestions/help here.

Issue: I have executed total 11 feature files through config.js file and with max instance=3. Although all
11 feature files are executed (

[2018-06-15 21:32] BorisOsipov commented on #124
I have no ideas what is going wrong from your issue description.
Could you please attach zip archive of your allure-results folder and
terminal log with resutls of execution your 11 feature files ?
If you can't share it with everyone you may send link with archive to me
privately in me gitter
https://gitter.im/borisosipov

пт, 15 июн. 2018 г. в 23:48, PavanGurramQA <notifications@github.com>:

--

[2018-06-15 22:35] PavanGurramQA commented on #124
Hi @BorisOsipov

Thanks for your prompt response again. I've shared the folders in gitter, please have a look and let me know your view.

[2018-06-19 13:23] BorisOsipov commented on #124
Missed suites didn't executed success. They are crashed with error
[code]

I guess it is the main reason why these specs are missing in the report.

[2018-06-19 13:23] #124 closed

[2018-07-03 13:33] belimm01 commented on #97
@BorisOsipov  Hi Boris, please help me. I'm using Cypress, it's similar to Mocha. And I need to get the same report in allure [https://user-images.githubusercontent.com/15637471/36801562-77dae0be-1c80-11e8-97d1-3b10031fb73c.png](url). Is it possible to do this feature? Thank you in advance.

[2018-07-03 13:42] BorisOsipov commented on #97
Hi @belimm01
I don't know Cypress and can't answer.
Probably if it similar to mocha you can adapt and use
https://github.com/allure-framework/allure-mocha

вт, 3 июл. 2018 г. в 16:33, Nikita <notifications@github.com>:

--

--
Best Regards,
Boris Osipov

[2018-07-04 17:52] breinjhel opened #125 "Support Nested steps"
Hi,

Is there any way I can have nested steps? Im creating steps after each wdio commands and I want to have attachments, screenshots, or more steps attached to each of those steps.

Thanks.

[2018-07-04 18:11] christian-bromann commented on #125
What do you mean by that?

[2018-07-09 21:10] BorisOsipov commented on #125
No there is now way no.

[2018-07-11 21:06] thespecial commented on #119
@perwez123 @BorisOsipov i've submitted PR about adding severity -- https://github.com/webdriverio/wdio-allure-reporter/pull/126 .

Could someone review and merge if ok, please?

[2018-07-11 21:37] BorisOsipov commented on #119
@thespecial thanks! awesome 👍

[2018-07-11 21:37] #119 closed

[2018-07-14 05:21] BorisOsipov commented on #37
it almost done.See docs https://github.com/webdriverio/wdio-allure-reporter#supported-allure-api

[2018-07-14 05:21] #37 closed

[2018-07-16 15:33] yuxli066 commented on #37
The "createStep" feature does not allow for a call back to define the steps for that particular custom step?

[2018-07-16 15:38] BorisOsipov commented on #37
@yuxli066 It does not allow

[2018-07-16 15:39] yuxli066 commented on #37
@BorisOsipov Is there any possible way to include that feature?

[2018-07-16 15:48] BorisOsipov commented on #37
@yuxli066 Unfortunately no. We can work with reporter from your test code only through `subprocess.send({})` [see](https://nodejs.org/api/child_process.html#child_process_subprocess_send_message_sendhandle_options_callback)
(because reporter and tests runs in different processes)

[2018-07-16 16:09] yuxli066 commented on #37
@BorisOsipov , I see, that really is unfortunate, are there any work arounds that you would like to recommend if I wanted to use this feature?

[2018-07-16 16:17] BorisOsipov commented on #37
@yuxli066 see https://github.com/webdriverio/wdio-allure-reporter/issues/37#issuecomment-278339238

[2018-07-16 16:46] yuxli066 commented on #37
Did you mean this right here ?
[code]
I tried this but it was not working for me @BorisOsipov

[2018-07-16 16:54] BorisOsipov commented on #37
no I mean use https://github.com/allure-framework/allure-mocha

[2018-07-16 16:57] yuxli066 commented on #37
Is there a way to integrate that with the wdio test runner?

[2018-07-16 17:04] BorisOsipov commented on #37
no

[2018-08-06 11:22] MartijnThiele opened #128 "Allure report treats passed Mocha beforeAll and afterAll hooks as passed tests"
I am building a ta-framework using

`-- wdio-mocha-framework@0.6.2
`-- wdio-allure-reporter@0.6.3
`-- webdriverio@4.13.1

My framework has around 20 spec files, most of which make use of mocha's beforeAll and afterAll hooks to do setup and cleanup.

My Allure report (generated by jenkins) sees these hooks as actual tests, reporting them as such. This causes allure to report almost 40 extra tests,

[2018-08-06 11:30] BorisOsipov commented on #128
@MartijnThiele

create sample project on github to help me reproduce these issue

[2018-08-07 12:00] MartijnThiele commented on #128
@BorisOsipov

created a sample project here: [](https://github.com/MartijnThiele/wdioAllureSampleProjectIssue-128)

Thanks for taking the time to look into this.

Please let me know if there are any questions

[2018-08-07 16:50] BorisOsipov commented on #128
@MartijnThiele thank you. I will have look into it

[2018-08-10 14:25] miguelsantos500 opened #130 "Report Broken when using "useCucumberStepReporter":"true""
When I use allure-reporter to generate a Cucumber Report, using "useCucumberStepReporter":"true" **and** have more than one Scenario in one Feature, the generated report is the following:

Features:
[code]
[code]

![image](https://user-images.githubusercontent.com/16048818/43962442-a1dede92-9caf-11e8-8291-dff309ce00fc.png)
![image](https://user-images.githubusercontent.com/16048818/43962517-c7487c

[2018-08-10 14:27] BorisOsipov commented on #130
Hi @miguelsantos500 which wdio-cucumber-framework version did you use?

[2018-08-10 14:36] miguelsantos500 commented on #130
Sorry, updated above.

[2018-08-10 14:42] BorisOsipov commented on #130
@miguelsantos500 try to update wdio-cucumber to the latest v2.2.2.
If it doesn't help you may go back to v1.1.1 for me it works.

[2018-08-10 14:49] BorisOsipov commented on #128
yes, it is a bug.

[2018-08-10 14:53] miguelsantos500 commented on #130
Works with version 2.2.2, therefore I'm closing the issue.
However, is "useCucumberStepReporter" supposed to aggregate Cucumber tests by Feature?
Wouldn't it make more sense to aggregate by Scenario?

![image](https://user-images.githubusercontent.com/16048818/43964789-7fbf2212-9cb5-11e8-98d9-548f2ff630f5.png)

[2018-08-10 14:53] #130 closed

[2018-08-10 14:57] MartijnThiele commented on #128
I suspected as much. Anything you can fix?

[2018-08-10 15:00] BorisOsipov commented on #130
In your screen reporter works incorrect.
Steps from different scenarios should not join in one.

@miguelsantos500 make scenario name unique
instead of
Scenario: Login
Scenario: Login
Scenario: Login

make

Scenario: Login smth1
Scenario: Login smth2
Scenario: Login smth3

maybe it help

BTW I didn't test it fully with wdio-cucumber v2+ and won't fix any bug cuz now v2 works incorrect for me and we

[2018-08-10 15:09] BorisOsipov commented on #128
I think we can disable\enable reporting hooks at all with configuration option.

I am not sure. I don't have plans to support this version much.
Recently I port this to [v5](https://github.com/webdriverio/v5) and will continue adding fixes\improvements only for v5

[2018-08-13 13:29] MartijnThiele commented on #128
Pity, can you point me towards this configuration option? I am not sure what you mean by this.

[2018-08-13 13:49] BorisOsipov commented on #128
I mean if you want to make PR to fix this bug, I suppose the best solution is to create a new option to disable reporting hooks at all.

[2018-08-13 18:11] osmolyar opened #131 "Allure report Jenkins plugin doesn't distinguish among versions of same browser"
Ref. issue #102,  With wdio-allure-reporter version 0.7.0.

With a Jenkins run with tests recorded as being run on both IE10 and IE11 in the Jenkins report, the Allure plugin-generated report attached to the same Jenkins job only reports the tests as run once, on 'internet explorer'

[2018-08-13 18:14] BorisOsipov commented on #131
yes, because we don't add browser version as test argument :(

[2018-08-14 07:02] MartijnThiele commented on #128
OK, thanks for the info. That would sound like a good solution.  I'm afraid I am not experienced enough to solve something like this myself, but I will have a go and see what I can do.

[2018-08-14 10:12] id4automation opened #132 "Scenarios are grouped in the Suite display and gets appeneded as well."
Hi , I am using the below versions

1) I am not seeing the right number of scenarios in my Allure report. Instead I see Number of test steps executed as Number of scenarios. I reckon this was fixed in wdio-allure-report. But it is still not working as expected.

2) The test suite is not displaying the scenario individually. Fo some reason it is combining multiple scenario and keeps appending with

[2018-08-14 11:50] id4automation commented on #132
Thanks. that did the magic.

[2018-08-14 12:00] christian-bromann commented on #132
I guess we can close this then.

[2018-08-14 12:00] #132 closed

[2018-08-14 13:25] osmolyar commented on #131
Is it possible to consider doing so?  Also why is this in the boneyard?  Is wdio moving away from allure 1 support?

[2018-08-14 13:34] christian-bromann commented on #131
This package has been moved to the new v5 repository

[2018-08-14 13:45] BorisOsipov commented on #131
@osmolyar I will make hot fix for this and port it to v5 after

[2018-08-14 13:46] osmolyar commented on #131
@BorisOsipov thank you so much!!

[2018-08-14 15:41] christian-bromann commented on #131
Let's continue convo in #133

[2018-08-14 15:41] #131 closed

[2018-08-24 06:10] pratyavi opened #135 "Scenario outline title displays parameter name instead of its value in allure report: wdio-allure-reporter"
I am using wdio-allure-reporter and using scenario outline in the feature file

Scenario Outline: test language translation
   Given User is on homepage
   When select <language> from langauge dropdown
   Then language changed and <Text> is visible in selected language

   Examples:
            | language | Text    |
            | Deutsch  | Home    |
            | Dansk    | Hjem    |

[2018-08-24 08:26] BorisOsipov commented on #135
Duplicate of https://github.com/webdriverio/wdio-cucumber-framework/issues/142

[2018-08-24 08:26] #135 closed

[2018-08-30 15:40] id4automation opened #136 "Inconsistency in Allure report when switched the state of useCucumberStepReporter"
Hi ,

I am using the below versions:
wdio-cucumber-framework@ 2.2.6.
wdio-allure-reporter@ 0.7.0
cucumber @4.2.1.

[1] My allure reports are totally different if I dont delete the old allure-results folder. I reckon its picking the last retained result data.. Is it an expected behavior? shouldnt that consider the data specific to the corresponding run? Kindly confirm?

[2] I have four feature file

[2018-08-30 16:00] id4automation commented on #136
Ignore first appearance of point [5] I can see the TEST STEPS in the Overview section.

[2018-08-30 16:39] BorisOsipov commented on #136
[1] and [6] - not related to reporter. Ask in main allure repo.

Nope. It displays feature name form head of feature file "Feature: Login feature"

[2018-08-30 16:40] BorisOsipov commented on #136
[3] - check scenarion names. they must be unique.

[4] - yes it is. you may add it by yourself

[2018-08-30 16:44] BorisOsipov commented on #136
Ask question in Gitter support channel https://gitter.im/webdriverio/webdriverio
Please don't create issues with questions here. Thanks

[2018-08-30 16:44] #136 closed

[2018-08-31 08:33] id4automation commented on #136
I do not have access to Gitter channel inside my corporate network. Hence raising the questions here. Do we have an alternative option to access gitter channel behind corporate network?

[2018-08-31 08:53] BorisOsipov commented on #115
@osmolyar does it still reproduces?

For me it is ok
![2018-08-31_1149](https://user-images.githubusercontent.com/6514276/44903134-69284c80-ad14-11e8-8913-6d574a221d8c.png)

[2018-08-31 13:18] osmolyar commented on #115
It is working fine - from May 18 comment "Actually it is working correctly in another installation, using your latest 0.6.0 version, so this item can be closed."

[2018-08-31 13:18] #115 closed

[2018-10-03 21:01] NaveenThiyagarajan opened #138 "Cucumber: Common steps are merged into one in the allure reports."
If there are common steps in a scenario then the allure reports the result for only one(the latest/last step) and the old ones are added to the retry section of that step.

Based on my understanding this is fixed in "allure-ruby-commons" (https://github.com/allure-framework/allure-cucumber/pull/65). But i am really not sure about internal arch but i can see this "wdio-allure-reporter" uses `allure

[2018-10-04 05:58] BorisOsipov commented on #138
Setting `useCucumberStepReporter: true` in config should help. See [config description](useCucumberStepReporter: false)

[2018-10-04 05:58] #138 closed

[2018-10-05 10:47] NaveenThiyagarajan opened #139 "Cucumber: Scenario marked passed but all the steps in there are pending."
Hi Team,

I have the below package versions:
"wdio-allure-reporter": "^0.7.0",
"wdio-cucumber-framework": "^2.2.3",
"webdriverio": "^4.13.2"

Running the test with `useCucumberStepReporter: true`.

After running the tests the allure report generated is marking the scenario(test case) passed even when all the steps in there are pending(aka: Not executed).

![scenariomarkedpassed](https://user-image

[2018-10-05 10:57] BorisOsipov commented on #139
@NaveenThiyagarajan yes it is. feel free to propose a PR.

[2018-10-05 11:05] BorisOsipov commented on #11
Close due inactive.

[2018-10-05 11:05] #11 closed

[2018-10-05 11:05] BorisOsipov commented on #30
Close due inactive.

[2018-10-05 11:05] #30 closed

[2018-10-05 11:05] BorisOsipov commented on #36
Close due inactive.

[2018-10-05 11:05] #36 closed

[2018-10-05 11:05] BorisOsipov commented on #47
Close due inactive.

[2018-10-05 11:05] #47 closed

[2018-10-05 17:17] sskorol opened #140 "Add Issues / TMS links support"
Currently, it's not possible to add corresponding links to test results report.
Seems like it's not a huge deal according to https://github.com/allure-framework/allure-js-commons/issues/13#issuecomment-218682337
Will raise a PR for that.

[2018-10-05 19:46] #140 closed

[2018-10-05 20:06] christian-bromann commented on #140
Let's make sure to port this to v5

[2018-10-05 20:08] BorisOsipov commented on #140
@christian-bromann 	it was ported in https://github.com/webdriverio/webdriverio/pull/2989

[2018-10-09 05:15] andrcuns opened #142 "Additional argument support"
Hey guys,
Would You consider adding additional custom arguments, like the default browser name?
We have an issue that we run same scenario in multiple resolutions for example and it get's merged as single execution. Not 100% sure if it would help to distinguish them, but I think it should.

[2018-10-09 06:42] BorisOsipov commented on #142
I am not sure about scenario resolution. Someone will come tomorrow and say "we run same scenario in multiple OS" :)
Need to add some generic logic how to add properties from capabilities as arguments. Or not only from capabilities.

[2018-10-09 07:59] andrcuns commented on #142
It's the same as adding description, tms or issue, isn't it? Just need to expose the command that adds additional argument. At least in java all these manual manipulations were extremely easy.
Or I'm not understanding this correctly?
Capability is also fine, though I'm not sure if it wouldn't cause some problems in the future as I saw in v5 there is a proposal to validate capabilities against W3C

[2018-10-09 08:09] BorisOsipov commented on #142
It requires to add such args for each test manually(e.g. wrap mocha `it` function). does it suit you?

[2018-10-09 08:10] BorisOsipov commented on #142
I mean you can't add description\issue\arg in before test hook because there is no test in reporter yet.

[2018-10-09 08:14] andrcuns commented on #142
I can do it in after hook, at least I can add description that way for example. It's also how we attach browser logs to report etc. While I agree that generic way from capabilities would be better, I think it's problematic to find a generic way which would handle all the cases. So I think additional method in reporter like addArgument should be sufficient in all cases.

[2018-10-09 08:17] BorisOsipov commented on #142
if it works in after hooks it's ok.

Agree. Thanks for clarifications.

[2018-10-09 08:18] andrcuns commented on #142
I can try running it locally and test it out if it works like I imagine it should :) And submit a PR if it does here and I guess in v5. Shouldn't be more than few lines of code.

[2018-10-09 10:28] ckurban opened #144 "BaseReporter.js error thrown when test is not successful"
[code]

Time to time I am keep getting above written error. It seems to be related to the `wdio-allure-reporter` and I am using below written versions:

[code]

[2018-10-09 10:33] BorisOsipov commented on #144
@ckurban is it stable?
Also
`"wdio-cucumber-framework": "0.1.0"` can you update to at least `1.1.1` ?

[2018-10-09 11:07] ckurban commented on #144
@BorisOsipov it is not stable. Upgrading might be tricky as it might/will change the structure of the Step Definitions which means I would need to apply major refactoring on all my scenarios but i will have it a go and see whats the outcome.

[2018-10-09 14:56] christian-bromann commented on #142
Let's continue convo in #143

[2018-10-09 14:56] #142 closed

[2018-10-19 10:50] ybilevych commented on #125
From what I understand, allure-js-commons supports this via its Allure.prototype.startStep and Allure.prototype.endStep. My proposal to build some method decorator, similarly to what is done in Java with annotations

[2018-10-19 11:28] BorisOsipov commented on #125
@ybilevych feel free to propose PR, but before describe here how wdio-allure-reporter api will look like.

[2018-10-30 20:15] BorisOsipov commented on #144
@ckurban Any updates on this? have you fixed problem?

[2018-11-01 21:54] NaveenThiyagarajan commented on #139
@BorisOsipov . I take back my previous comment. I have pushed a PR. Please review. Thank you..

[2018-11-05 16:03] NaveenThiyagarajan commented on #139
Issue fixed as part of `0.8.3`. Closing the ticket.

[2018-11-05 16:03] #139 closed

[2018-11-27 19:52] dalenguyen opened #147 "Allure-results folder is getting bigger and bigger"
Hi, I have a question about the results folder. What is the best practice to deal with it? Because it will generate a lot of files everytime I run the test. Are there any methods to clean it? Thanks,

[2018-11-27 19:56] BorisOsipov commented on #147
It is up to you. This question is not related to reporter itself. Please, ask in official allure gitter chanel https://gitter.im/allure-framework/allure-core

[2018-11-27 19:56] #147 closed

[2018-11-27 19:57] dalenguyen commented on #147
Thanks @BorisOsipov

[2018-12-03 16:05] djom20 opened #148 "Impossible to attach image as an attachment to a test case"
Hi there,

I'm facing this issue some days ago and I've been looking for any success solution but until today I didn't found so:

**Issue Description:**

![image](https://user-images.githubusercontent.com/1834808/49385387-4f1f5100-f6eb-11e8-871d-f0939a507094.png)

When trying to add an image as attachment to the report for a test case using reporter.createAttachment(), I got this message:

![image

[2018-12-03 16:38] djom20 commented on #148
Hi @BorisOsipov,

I just changed my code thus:

![image](https://user-images.githubusercontent.com/1834808/49387467-e4244900-f6ef-11e8-9761-1ac49c956653.png)

But I still have the same issue:

![image](https://user-images.githubusercontent.com/1834808/49387408-c48d2080-f6ef-11e8-8593-7443b06fcdcf.png)

[2018-12-03 16:55] BorisOsipov commented on #148
@djom20 as I see from your stack trace your using [selenium-webdriver](https://www.npmjs.com/package/selenium-webdriver), but not [webdriverio](https://www.npmjs.com/package/webdriverio). This is reporter for wdio. It is not compatible and won't work with selenium-webdriver

[2018-12-12 14:51] ckurban commented on #144
Hey @BorisOsipov I see this now all the time so yes it is stable now :) Can we re-open the ticket ?

[2018-12-12 14:57] BorisOsipov commented on #144
I don't think it makes sense. It won't be fixed anyway. Solution for you is update to at least 1.x `wdio-cucumber-framework` version

[2018-12-27 18:47] sanyco92 commented on #128
Hello guys! Is this issue fixed? I'm experiencing the same issue. Hooks "before all" and other are marked as test cases and including to the total number of tests.

[2019-01-09 13:12] kimek commented on #125
btw somebody ask this question on allure for wdio https://github.com/allure-framework/allure-js-commons/issues/21. If I will have more time I will try to look into it too

[2019-01-09 14:42] BorisOsipov commented on #125
@kimek I would suggest you to think how implement it for v5 reporter version if you want this. This repo is obsolete and anyway we will ask to port any changes here to v5 before merging.

[2019-01-17 15:04] sanyco92 opened #149 "How to show failed/broken tests in email notification?"
Hello! Currently, I'm using allure reporter with webdriver.io. Tests run on Jenkins environment and every night I'm getting email notifications from Jenkins. For this, I'm using the groovy script (https://gist.github.com/letsrokk/50a3ffc8ad5af8896ce78e62fe1e8cb5) and it looks good. But I need to see which test cases are failed and broken in the email notification. Is there a way to show in email r

[2019-01-17 15:06] christian-bromann commented on #149
How is this related to wdio-allure-reporter?

[2019-01-17 15:14] BorisOsipov commented on #149
Please, ask such questions in allure gitter https://gitter.im/allure-framework/allure-core

[2019-01-17 15:14] #149 closed

[2019-01-19 10:09] treyturner opened #150 "allure-js-commons: Unexpected endStep(). There are no any steps running"
Since upgrading to wdio v5, most of my test runs conclude with the following output spammed to stderr:

`[0-0] allure-js-commons: Unexpected endStep(). There are no any steps running`

This happens anywhere from a few to several hundred times depending on the length of the spec/suite, inhibiting analysis of the spec reporter output. I'm sure this is the result of code running outside of tests, but

[2019-01-19 17:11] BorisOsipov commented on #150
this reporter for v4. Reporter for v5 is on main wdio repo.

[2019-01-19 17:11] #150 closed

[2019-01-20 19:54] treyturner commented on #150
@BorisOsipov Sorry, where? I posted here because I looked and couldn't find it, or what I did find had a post from you saying to report the issue here.

https://github.com/webdriverio/webdriverio/issues/2953

[2019-01-20 20:02] BorisOsipov commented on #150
@treyturner

yes it was actual for old(v4.x) wdio releases issues. Now wdio v5 is monorepo and all issues for `@wdio/*` are here https://github.com/webdriverio/webdriverio/issues/new/choose here

[2019-01-20 20:04] BorisOsipov commented on #150
@treyturner btw it is important to have repo with example how repoduce issue.

[2019-01-22 21:51] treyturner commented on #150
Opened a new ticket with a reproducible example: https://github.com/webdriverio/webdriverio/issues/3386

[2019-02-04 10:46] rytikovroman1994 commented on #25
There was a problem with adding a screenshot if it was in the buffer. Leave the solution here. Maybe someone will come in handy.
[code]

[2019-02-11 16:01] Prashi4peace commented on #92
Can you kindly tell us what need to be done to fix the problem...
After deleted allure-results and re running project - allure opens an empty web page

Also getting below error
TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneType

hoping reply

[2019-03-26 13:07] KiT-Maverik opened #152 "How to associate actions with step?"
hey there.
Would you be so kind to advise how to use createStep API?
In other allure reporter implementations *step API has "stepFn" argument intended to store commands, which will be reported as a part of a step. But your "createStep" API arguments are all of string type. Im' confused, - how should I associate actions with particular step?

Please see some illustrations below:
I wanna to configur

[2019-03-26 13:16] BorisOsipov commented on #152
See https://github.com/webdriverio-boneyard/wdio-allure-reporter/issues/112.

Custom start\stop steps implemented in v5 reporter.

[2019-03-26 13:16] #152 closed, assigned to nobody

[2019-03-26 13:45] KiT-Maverik commented on #152
Thanks for such operative answer @BorisOsipov
I've read carefully issue, you sent. I see that createStep API has all arguments necessary, but I still can't understand how I should pass information to it.
Would you be so kind to give me a little example where result of browser action is reported as a part of a step and step status is dynamically defined accourding to call results.

Something like t

[2019-03-26 13:53] BorisOsipov commented on #152
In fact most important sentence from #112 thread was

So you can not write
[code]
You can not pass callback to reporter.step function.

I don't have such example for js. There is no common solution. You may create some typescript decorator, but is not solution for js :(

[2019-03-26 16:29] KiT-Maverik commented on #152
@BorisOsipov
Pitty. But I already found a walkaround using conditional afterTest expression.
But I'm running into another problem.
Can you tell me, is it possible to use image in createAttachment API? If yes, give me please an example.
**SOLVED:** used 'browser.browser.saveScreenshot()' in 'content' argument. Anyway, thanks for your support.

[2019-03-27 14:37] KiT-Maverik opened #153 "Trends are dead."
Hey everyone!
My tests aren't collecting historical data. All trend tabs show "There is nothing to show". I'm saving allure results in the same folder. But still, trends are dead. Can you advise me how can I fix this issue?
wdio+mocha+wdio-allure-reporter

[2019-03-27 14:43] BorisOsipov commented on #153
Hi @KiT-Maverik
It is not issue\question related to reporter. It is allure report generation features.
Read docs or SO answers e.g. https://stackoverflow.com/a/50143515
Or ask for help in allure gitter https://gitter.im/allure-framework/allure-core

[2019-03-27 14:43] #153 closed, assigned to nobody

[2019-03-27 15:00] KiT-Maverik commented on #153
Thanks @BorisOsipov

[2019-04-02 13:06] raulcabero opened #154 "Test are not included in the report when the Before hook fails"
I have code to log in to my application in the before hook , when the log in fails in my report I am only see the before and after execution and not the execution of my tests, I was expecting to see the my tests are listed in the report as failed.

this is my wdio.conf configutaion:

`{
	specs: [
		'./test/spec/**/*.js'
	],
	maxInstances: 10,
	capabilities: [{
		maxInstances: 1,
		browserName: '',

[2019-04-02 16:29] BorisOsipov commented on #154
@raulcabero

First, all v5 reporter issues should be reported in monorepo v5 https://github.com/webdriverio/webdriverio/issues/new/choose

Second,

It is because mocha doesn't run tests if before hook failed. So we don't have any info about what tests do you have.

[2019-04-02 16:29] #154 closed, assigned to nobody

[2019-04-02 20:23] jtaylordigital opened #155 "Allure report failing due to invalid XML character"
Hi. I'm trying to implement the Allure reporter into our project, but I'm encountering an issue where the reporter errors out and stops running tests when an assertion in a test fails validation. If the assertions pass, the allure report files are generated as expected.
When an assertion fails validation, the following error is generated and the test run stops:
`Error: charData should not contain

[2019-04-15 14:37] KiT-Maverik opened #156 "Line breaks in TC's description."
Hello everybody!
I want to add some line breaks in TC description, but \n doesn't work. Can you advise how is it possible to break the line?
reporter.addDescription("This is the first line.\nThis is the second line.");

The result is:
This is the first line.This is the second line.

[2019-04-15 15:18] baev commented on #156
@KiT-Maverik try to use `\n\n`

[2019-04-15 15:29] KiT-Maverik commented on #156
Now it loks like
This is the first line.
-------This is the second line.

[2019-04-15 17:06] baev commented on #156
@KiT-Maverik can you show generated result file from allure-results folder?

[2019-04-16 12:52] KiT-Maverik commented on #156
@baev
Unable to attach due to site limitations.
Pasting content below
[sample.txt](https://github.com/webdriverio-boneyard/wdio-allure-reporter/files/3084948/sample.txt)
As you can see \n is not present in desc field.
Here the code I used:
reporter.addDescription("This test case is skipped. \nReason: need to find a way to deal with captcha");

[2019-04-17 14:18] KiT-Maverik opened #157 "Categories issue"
hey guys!
I can't assign specific TC's to categories. Can you assist?
XML-file
[sample.txt](https://github.com/webdriverio-boneyard/wdio-allure-reporter/files/3090049/sample.txt)

category entity from categories.json file
 {
    "name": "new one",
    "matchedStatuses": ["broken"],
    "messageRegex": "unknown error: Element .* is not clickable at point .* Other element would receive the click: .*

[2019-04-17 14:19] BorisOsipov commented on #157
@KiT-Maverik it is out of reporter scope

[2019-04-17 14:19] BorisOsipov commented on #157
Asks in gitter https://gitter.im/allure-framework/allure-core

[2019-04-17 14:19] #157 closed, assigned to nobody

[2019-04-20 13:14] KiT-Maverik opened #158 "Link configuration for reporter.testId and reporter.issue API's"
Hey everybody!
I run into a little problem and I hope you can help me solve it.

FRAMEWORK:
	WDIO
	MOCHA
	CHAI
	WDIO-ALLURE-REPORTER

When I'm trying to assign test case ID (via reporter.testId(999)) or issue ID (via reporter.issue(111)) the reporter successfully adds corresponding information to Allure report. But when I click the link it navigates me to Allure server IP. Link looks like the foll

[2019-04-23 09:53] BorisOsipov commented on #158
And againg it is not about wdio-reporter :)

It is in allure docs. See https://docs.qameta.io/allure/#_links

[2019-04-23 10:24] KiT-Maverik commented on #158
@BorisOsipov
Thanks!
Okay, I am about to went to bug smb on Allure side)
One more little question. that pattern - related staff. Is it supported by wdio allure reporter? Or this is something to be handled on allure core side?
it appears to me that there should be somkind of API in reporter objet allowing set pattern.

[2019-04-23 10:42] BorisOsipov commented on #158
@baev can you assist? rigth now reporter just add `<label name='issue' value='gh-1212'/>` to testcase. How can we pass issue\link pattern?

[2019-04-23 11:59] baev commented on #158
You can create `allure.properties` file in results directory and use properties `allure.issues.tracker.pattern` and `allure.tests.management.pattern` for patterns, for example:

[code]

Or you can use full links directly (providing label `<label name='issue' value='https://github.com/some/repo/1212'/>`).

This is only applied for results in Allure 1 XML format. In new model we moved pattren resolu

[2019-04-23 12:17] KiT-Maverik commented on #158
@baev @BorisOsipov
Thanks guys! It works.
But from my perspective it would be nice if only we could manage these properties from reporter config or something.
Anyway, thanks!

[2019-04-24 09:34] baev commented on #158
Yep, I agree. We are already working on new JS integrations https://github.com/allure-framework/allure-js/

[2019-05-20 17:55] KiT-Maverik opened #159 "Creating custom test caces"
Hello.
Is it possible to create test case at will (in report)?

[2019-05-21 07:52] adamsjoe opened #160 ""POST" entries appearing on test report"
Hi,
when I view my test report, I am now seeing lots of "POST" entries (example ("POST /session/:sessionId/window/maximize") - I recently upgraded versions and previously this wasn't shown.

Accoring to my packages.json file I am using the following:
    "@wdio/allure-reporter": "^5.7.0",
    "@wdio/cli": "^5.7.0",
    "@wdio/local-runner": "^5.7.0",
    "@wdio/mocha-framework": "^5.7.0",

has any

[2019-05-21 08:24] BorisOsipov commented on #160
@adamsjoe it is repo for wdio-allure v4 only. Submit issue to main repo for v5 version https://github.com/webdriverio/webdriverio/issues/new?template=--bug-report.md

Also first please check your configuration using docs here
https://github.com/webdriverio/webdriverio/tree/master/packages/wdio-allure-reporter#configuration

[2019-05-21 08:24] #160 closed, assigned to nobody

[2019-05-21 08:25] BorisOsipov commented on #159
Not it isn't possible and we won't implement such feature in reporter.

[2019-05-21 08:25] #159 closed, assigned to nobody

[2019-08-28 10:15] brownad commented on #125
Is there a way to benefit from recent fixes over here?
https://github.com/allure-framework/allure-js/commit/ab47cddb012c00cfd1c81018fb6a2b13a3732e66

[2019-08-28 10:16] brownad commented on #128
Can this be ported?
https://github.com/allure-framework/allure-js/commit/cbbb4491d4d4c8a81b58aed1d28210d4d0cfb75d

[2019-08-28 10:47] christian-bromann commented on #128
Feel free to provide a PR

[2019-08-28 11:13] BorisOsipov commented on #128
It is fixed in v5

[2019-08-28 11:26] brownad commented on #128
unfortunately still stuck on v4 for a while longer thanks for the update @BorisOsipov

[2019-08-28 11:33] christian-bromann commented on #128
Why is that? It is really not much work to update.

[2019-08-28 11:34] brownad commented on #128
v4 is wrapped up in our own tooling suite in a way that requires more work than anticipated to move but, that was based on beta v5 last time we looked.  Going to start the move / assessment again.
thanks @christian-bromann

[2019-08-28 16:55] just-boris commented on #128
@brownad the commit fixed the handling for `beforeEach`/`afterEach` hooks. That was a regression in 2.0.0 version comparing to 1.x. The `before` and `after` hooks are not addressed yet.

I created an issue to track this work: https://github.com/allure-framework/allure-js/issues/48

P.S. Please note that 2.0 version is not yet stable and there may be breaking changes. I advice not to use the depend

[2019-09-13 12:51] qwez commented on #128
@BorisOsipov I use v5 and still have this issue
[code]
My report:
![image](https://user-images.githubusercontent.com/5236981/64863686-21821380-d63e-11e9-9d72-09f71bb4ad74.png)

[2019-09-16 05:14] BorisOsipov commented on #128
fix @qwez relesed in v5.13.0

[2019-09-23 16:24] samuelint opened #162 "Support for wdio-image-comparison-service"
Hi,
do you have any plan to integrate screenshots taken with 'image-comparison' service (wdio-image-comparison-service)?

It would be really nice to have baseline / screenshots / diff images attached to each tests.

Does someone know a way to upload theses screenshots in the allure report?

Thank you

[2019-09-23 16:29] christian-bromann commented on #162
This package (`wdio-allure-reporter`) is deprecated and not maintained anymore. If you want to support such thing in the new package (`@wdio/allure-reporter`) feel free to propose a PR. Cheers!

[2019-10-21 10:10] cpandith opened #163 "Test result shows passed even if step is failed for one example"
![Allure-issue](https://user-images.githubusercontent.com/49057797/67196572-5d598700-f3fb-11e9-9b98-1b3308ffc56d.gif)

Test example:

Scenario Outline: Verify something
Given I test page for **Tests**
Then I Verify Home Url is Correct for **Tests**

Examples:
| Tests |
|test1|
|tewst2|
|test6|
|test7|
|test9|
|test67|

[2019-12-01 18:03] ledaivuong opened #164 "Unknown Hook is existed in report"
In my report, it exists an Unknown Hook which I'm not sure what it is and how can skip it

![2019-12-02_00h01_20](https://user-images.githubusercontent.com/22213252/69918018-9166a400-149f-11ea-9868-c02ca6b05c93.png)

[2019-12-03 17:26] wannadream commented on #128
I am using 5.16.11, still having this wired unknown status for hooks.
![wdio-allure-bug](https://user-images.githubusercontent.com/6989212/70074142-61122900-15b7-11ea-8c06-ec62b58ddb73.jpg)

[2019-12-04 00:00] wannadream commented on #156
Have you tried `\r\n`?

[2019-12-04 17:58] wannadream commented on #164
I think I find the solution for this. I am using Mocha.

**disableMochaHooks: true**

https://webdriver.io/docs/allure-reporter.html

[2019-12-05 07:23] ledaivuong commented on #164
No, it does not work in my case mate

[2019-12-05 09:18] christian-bromann commented on #164
Please make sure you run WebdriverIO v5. This repo contains the code of v4 which is not maintained anymore.

[2019-12-05 09:19] ledaivuong commented on #164
Yeah confirm that I npm i the lastest wdio